.jmaccrdn {
  .jmaccrdn__heading {
    padding: 60px 40px 40px 0px;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid $jmBlackColorOpc1;
    @include generateFont($jmMediumFont, 36px, 34px, $jmDarkCharcoalColor);
  }
  .jmaccrdn__title {
    padding: 20px 40px;
    @include generateFont($jmMediumFont, 20px, 32px, $jmGraniteGrayColor);
    margin: 0;
    border-bottom: 1px solid $jmBlackColorOpc1;
    cursor: pointer;
    p {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
      @include generateFont($jmMediumFont, 20px, 32px, $jmGraniteGrayColor);
    }
  }
  .jmaccrdn__body {
    background-color: $jmAntiFlashWhiteColor;
    margin: 0;
  }
  .jmaccrdn__answer-sec {
    padding: 40px 40px;
    p, * {
      margin-bottom: 20px;
      @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor);
      strong{
        font-weight: bold !important;
      }
      img{
        overflow: overlay;
      }
    }
    a, a:hover{
      @include generateFont($jmFont, 18px, 27px, $jmEgyptianBlueColor);
    }
    ul li{
      list-style-type: initial;
      margin-left: 20px;
    }
    a{
      span[class^='btn--style']{
        background-color: $jmEgyptianBlueColor;
        min-width: 380px;
        border: none;
        outline: none;
        padding: 20px 45px 20px 20px;
        justify-content: flex-end;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 0px;
        text-decoration: none !important;
        @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor!important);
        display: inline-flex;
        position: relative;
        &::after{
          position: absolute;
          background: url("../images/new__jm__images/arrow_forward-white.svg") 0 0
            no-repeat transparent;
          width: 24px;
          height: 24px;
          right: 10px;
          top: calc(50% - 12px);
          content: "";
        }
        &:hover {
          text-decoration: none;
          color: $jmWhiteColor;
        }
      }
      &:hover{
        text-decoration: none;
        [class^='btn--style'] {
          &:hover {
            text-decoration: none;
            color: $jmWhiteColor;
          }
        }
      }
    }
    span[class^='btn--style']{
      background-color: $jmEgyptianBlueColor;
      min-width: 380px;
      border: none;
      outline: none;
      padding: 20px 45px 20px 20px;
      justify-content: flex-end;
      text-align: right;
      text-transform: uppercase;
      margin-bottom: 0px;
      text-decoration: none !important;
      @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor!important);
      display: inline-flex;
      position: relative;
      &::after{
        position: absolute;
        background: url("../images/new__jm__images/arrow_forward-white.svg") 0 0
          no-repeat transparent;
        width: 24px;
        height: 24px;
        right: 10px;
        top: calc(50% - 12px);
        content: "";
      }
      &:hover {
        text-decoration: none;
        color: $jmWhiteColor;
      }
    }
  }
  .jmaccrdn__arrow {
    @include generateIcon(24px, 24px, "../images/new__jm__images/jm__accrdn_arrow_blue.svg");
    margin-left: 8px;
    margin-top: 7px;
  }
  @media (min-width: 320px) and (max-width: 539px) {
    .jmaccrdn__heading {
      font-size: 24px;
      padding-left: 20px;
      padding-bottom: 7px;
    }
    .jmaccrdn__answer-sec {
      padding: 20px;
    }
    .jmaccrdn__title {
      font-size: 18px;
      padding: 17px 20px 16px 20px;
    }
    .jmaccrdn__answer-sec p {
      font-size: 14px;
    }
    .jmaccrdn__arrow {
      @include generateIcon(28px, 28px, "../images/new__jm__images/jm__accrdn_arrow_blue.svg");
      margin-left: 8px;
    }
  }
  @media (min-width: 540px) and (max-width: 834px) {
    .jmaccrdn__heading {
      font-size: 32px;
      line-height: 48px;
      padding-bottom: 40px;
    }
    .jmaccrdn__title {
      font-size: 22px;
    }
    .jmaccrdn__answer-sec p {
      font-size: 16px;
    }
  }
}