.jmannual--main-container {
  .jmannual--rs-temp {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 477px;
    position: relative;
  }
  .panel__heading {
    text-shadow: $jmTextShadow1;
    padding-top: 65px;
    max-width: 770px;
    @include generateFont($jmFont, 47px, 56px, $jmWhiteColor);
  }
  .annual__report {
    p {
      text-align: left;
      text-shadow: $jmTextShadow1;
      @include generateFont($jmFont, 18px, 28px, $jmWhiteColor);
    }
  }
  .panel__btn {
    display: flex;
    background-color: $jmEgyptianBlueColor;
    width: 321px;
    border: none;
    outline: none;
    padding: 20px 10px 17px 0px;
    margin-top: 44px;
    justify-content: flex-end;
    text-align: right;
    text-transform: uppercase;
    @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
    a {
      color: $jmWhiteColor;
      &:hover {
        color: $jmWhiteColor;
      }
    }
  }
  .scroll__sec {
    position: absolute;
    bottom: 0;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 50%;
    padding: 10px;
    border: 1px solid $jmWhiteColor;
  }
}
@media (min-width: 320px) and (max-width: 539px) {
  .jmannual--main-container {
    .panel__heading {
      font-size: 32px;
      line-height: 48px;
    }
    .panel__btn {
      width: 221px;
      font-size: 16px;
      padding: 15px 10px 15px 0px;
    }
    .scroll__sec {
      display: none;
    }
  }
}
@media (min-width: 540px) and (max-width: 834px) {
  .jmannual--main-container {
    .panel__heading {
      font-size: 44px;
    }
    .scroll__sec {
      margin-bottom: 30px;
    }
    .viewnext__img {
      padding: 7px;
    }
  }
}
