#breadcrumbs .portlet-body nav{
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}
#breadcrumbs .breadcrumb{
    border-radius: 0;
    margin-bottom: 0;
    background: $jmDarkCharcoalColorOpc5;
}
.breadcrumb-link{
    font: 14px/28px $jmFont;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 0.8;
}
.breadcrumb-link:hover{
    opacity: .5;
    text-decoration: none;
}
.breadcrumb-text-truncate{
    font: 14px/28px $jmFont;
    letter-spacing: 0px;
    color: $jmWhiteColor;
}