#breadcrumbs .portlet-body nav{
    z-index: 1;
    width: 100%;
    @include generatePosAbs(0, 0);
}
#breadcrumbs .breadcrumb{
    border-radius: 0;
    margin-bottom: 0;
    background: $jmDarkCharcoalColorOpc5;
}
.breadcrumb-link{
    @include generateFont($jmFont, 14px, 28px, $jmAntiFlashWhiteColor, 0.8);
}
.breadcrumb-link:hover{
    opacity: .5;
    text-decoration: none;
}
.breadcrumb-text-truncate{
    @include generateFont($jmFont, 14px, 28px, $jmWhiteColor);
}