#breadcrumbs {
    .portlet-body nav{
        z-index: 1;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .breadcrumb{
        border-radius: 0;
        margin-bottom: 0;
        background: $jmDarkCharcoalColorOpc5;
        flex-wrap: nowrap;
        padding: 0.75rem 78px !important;
    }
    .portlet-decorate .portlet-content{
        background: transparent
    }
}
.breadcrumb-link{
    @include generateFont($jmFont, 14px, 28px, $jmAntiFlashWhiteColor, 0.8);
    &:hover{
        opacity: .5;
        text-decoration: none;
    }
}
.breadcrumb-text-truncate{
    @include generateFont($jmFont, 14px, 28px, $jmWhiteColor);
}
