.career__sec {
  position: relative;
  display: inline-block;
  width: 100%;
  background-image: url(cloud.svg);
  @include generateBgSizePos;
  height: 363px;
}
.career__pretitle {
  text-align: left;
  text-shadow: $jmTextShadow1;
  margin: 0;
  margin-top: 65px;
  @include generateFont($jmMediumFont, 18px, 28px, $jmWhiteColor, 0.8);
}
.career__heading {
  text-align: left;
  text-shadow: $jmTextShadow1;
  margin: 16px 0 24px;
  @include generateFont($jmFont, 52px, 60px, $jmWhiteColor);
}
.career__input__sec {
  width: 100%;
  cursor: pointer;
  display: flex;
}
.dept__sec {
  width: 80%;
}
.career__dropdown__sec {
  background-color: $jmWhiteColor;
  border-left: 1px solid $jmDarkGrayColor;
}
.career__input {
  padding: 17px 0px 16px 20px;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  &::placeholder {
    text-align: left;
    letter-spacing: 0px;
    @include generateFont($jmMediumFont, 18px, 28px, $jmDarkCharcoalColor, 0.8);
  }
}
.career__dropdown {
  input {
    &::placeholder {
      text-align: left;
      @include generateFont($jmMediumFont, 18px, 28px, $jmDarkCharcoalColor, 0.8);
    }
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: $jmWhiteColor;
    box-shadow: $jmBoxShadow2;
    padding: 12px 20px;
    border: none;
    outline: none;
    @include generatePosAbs(0, 0);
    @include generateFont($jmMediumFont, 16px, 28px, $jmDarkCharcoalColor, 0.8);
  }
  position: relative;
  width: 300px;
  height: 50px;

  &::before {
    content: "";
    z-index: 10000;
    @include generatePosAbs(auto, 15px, auto, 20px);
    @include generateIcon(24px, 24px, "../images/new__jm__images/keyboard_arrow_down-blue.svg");
  }
  .career__option {
    width: 100%;
    @include generatePosAbs(auto, 50px, auto, auto);
    background: $jmWhiteColor;
    box-shadow: $jmBoxShadow1;
    overflow: hidden;
    display: none;
    max-height: 0;
    div {
      padding: 8px 20px;
      cursor: pointer;
      @include generateFont($jmMediumFont, 16px, 28px, $jmDarkCharcoalColor, 0.8);
    }
  }
}
.career-search-location {
  padding: 14px 22px 14px 20px;
  width: 216px;
  border: none;
  border-left: 1px solid $jmDarkGrayColor;
  outline: none;
  cursor: pointer;
  @include generateFont($jmMediumFont, 18px, 28px, $jmDarkCharcoalColor, 0.8);
}
.link__lists {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 9px 0px;
}
.hero__text {
  margin: 0;
  position: relative;
  padding-left: 17px !important;
  @include generateFont($jmFont, 14px, 28px, $jmAntiFlashWhiteColor, 0.8);
}
.career__option {
  outline: none;
  border: none;
}
.career__dropdown.active {
  .career__option {
    display: block;
    max-height: 240px;
    overflow-y: scroll;
  }
}
@media (max-width: 320px) {
  .link__lists {
    li {
      a {
        font-size: 12px;
      }
    }
  }
  .dept__sec {
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 539px) {
  .career__dropdown {
    width: 100%;
    .career__option {
      width: 100%;
    }
    &::before {
      right: 5px;
    }
  }
  .career__input__sec {
    flex-direction: column;
  }
  .career-search-location {
    width: 100%;
    border-left: none;
  }
  .career__pretitle {
    margin-top: 46px;
    font-size: 14px;
    line-height: 22px;
  }
  .career__heading {
    font-size: 32px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 42px;
  }
  .dept__sec {
    width: 100%;
    margin-bottom: 20px;
  }
  .career__dropdown__sec {
    margin-bottom: 45px;
  }
  .career__sec {
    height: 463px !important;
  }
  .career__input {
    &::placeholder {
      font-size: 15px;
    }
    padding: 16px 16px 16px 16px;
  }
  .career__dropdown.active {
    .career__option {
      display: block;
      max-height: 140px;
      overflow-y: scroll;
    }
  }
}
@media (min-width: 540px) and (max-width: 834px) {
  .career__input {
    &::placeholder {
      font-size: 15px;
    }
  }
  .career-search-location {
    width: 150px;
  }
  .career__dropdown {
    &::before {
      right: 111px;
    }
    input {
      width: 66%;
    }
    .career__option {
      top: 52px;
      width: 66%;
    }
  }
  .career__dropdown__sec {
    width: 200px;
  }
  .career__dropdown.active {
    .career__option {
      display: block;
      max-height: 140px;
      overflow-y: scroll;
    }
  }
}
