.cardblock__list-link {
	@include generateTextDecoration;
    display: flex;
	margin-top: 0px;
    @include generateFont($jmMediumFont, 17px, 22px, $jmEgyptianBlueColor);
}
.list-item {
	.cardblock__list-link {
		@include generateTextDecoration;
        @include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
		display: flex;
	}
}
.cardblock {
	border: none;
}
h1 {
	&.cardblock-header {
		margin-bottom: 40px;
	}
	&.cardblock__title1 {
        @include generatePadding(0, 0, 20px, 30px);
        @include generateFont($jmMediumFont, 34px, false, $jmDarkCharcoalColor);
	}
	&.cardblock_heading {
		@include generatePadding(0, 0, 20px, 30px);
        @include generateFont($jmMediumFont, 34px, false, $jmDarkCharcoalColor);
	}
}
.cardblock__body {
	border-bottom: 15px solid $jmEgyptianBlueColor;
}
.long__card-block {
    margin: 10px;
	.journal-content-article {
        .cardblock {
            .cardblock__body {
                flex: 1 1 auto;
                min-height: 1px;
                @include generatePadding(1.25rem, 1.25rem, 1.25rem, 0.5rem);
                .cardblock__list-link {
                    @include generateTextDecoration;
                    @include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
                    display: flex;
                    float: right;
                    margin-top: -35px;
                }
                .wrap-three {
                    margin-top: 10px;
                    margin-bottom: 15px;
                    margin-right: 40%;
                }
            }
        }
    }
}
.cardblock__link-icon {
    margin-top: 3px;
    margin-left: 8px;
    @include generateIcon(24px, 24px, "../images/new__jm__images/blue-right-arrow.svg");
}
.cardblock__title {
	text-transform: capitalize;
	text-align: left;
    @include generateFont($jmFont, 14px, false, $jmDarkCharcoalColor);
}
h2 {
	&.cardblock__card-text {
		&.wrap-three {
            @include generateFont($jmFont, 25px, 1.2em, $jmDarkCharcoalColor, 1, 500);
		}
	}
}
.cardblock_container-fluid {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
    @include generatePadding(8rem, 8rem, 0, 0);
    a {
		text-decoration: none;
	}
}
.cardblock_section_1 {
	.cardblock__body {
		flex: 1 1 auto;
		min-height: 1px;
        @include generatePadding(1.25rem, 1.25rem, 1.25rem, 0);
		.cardblock__list-link {
			float: right;
			margin-top: -42px;
		}
	}
	.cardblock {
		.cardblock__body {
			&.body {
				padding-bottom: 0.4rem;
			}
			.cardblock__title {
				text-align: left;
				text-transform: capitalize;
                @include generateFont($jmFont, 14px, false, $jmDarkCharcoalColor);
			}
			.cardblock__card-text {
				&.wrap-three {
                    @include generateFont($jmFont, 25px, 1.2em, $jmDarkCharcoalColor, 1, 500);
				}
			}
			.wrap-three {
				margin-top: 10px;
				margin-bottom: 20px;
				margin-right: 40%;
			}
		}
	}
}
.cardblock_section2 {
	.body {
		flex: 1 1 auto;
		min-height: 1px;
        @include generatePadding(1.25rem, 1.25rem, 1.25rem, 1.5rem);
	}
}
.cardblock_section {
	.cardblock {
		.cardblock__body {
			flex: 1 1 auto;
			min-height: 1px;
            @include generatePadding(1.25rem, 1.25rem, 1.25rem, 0.99rem);
			.cardblock__title {
				text-align: left;
				text-transform: capitalize;
                @include generateFont($jmFont, 14px, false, $jmDarkCharcoalColor);
			}
			.cardblock__card-text {
				&.wrap-three {
                    @include generateFont($jmFont, 25px, 1.2em, $jmDarkCharcoalColor, 1, 500);
				}
			}
			.wrap-three {
				margin-top: 10px;
				margin-bottom: 20px;
				margin-right: 20%;
			}
		}
	}
}
@media (min-width: 540px) and (max-width: 834px) {
    .cardblock_container-fluid {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        @include generatePadding(2rem, 2rem, 0rem, 0rem);
    }
    h1 {
        &.cardblock_heading {
            font-family: $jmMediumFont;
            font-size: 30px;
            @include generatePadding(0, 0, 25px, 20px);
        }
        &.cardblock__title1 {
            @include generatePadding(0, 0, 0, 30px);
            @include generateFont($jmMediumFont, 30px, false, $jmDarkCharcoalColor);
        }
    }
    .cardblock_section {
        .cardblock {
            .cardblock__body {
                .cardblock__card-text {
                    &.wrap-three {
                        @include generateFont($jmFont, 22px, 1.2em, $jmDarkCharcoalColor, 1, 500);
                    }
                }
            }
        }
    }
    h2 {
        &.cardblock__card-text {
            &.wrap-three {
                @include generateFont($jmFont, 22px, 1.2em, $jmDarkCharcoalColor, 1, 500);
            }
        }
        &.wrap-three {
            margin-top: 10px;
            margin-bottom: 15px;
            margin-right: 40%;
        }
    }
    .cardblock_section_1 {
        .cardblock {
            .cardblock__body {
                .wrap-three {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    margin-right: 30%;
                }
                .cardblock__card-text {
                    &.wrap-three {
                        @include generateFont($jmFont, 22px, 1.2em, $jmDarkCharcoalColor, 1, 500);
                    }
                }
            }
        }
    }    
}
@media (min-width: 320px) and (max-width: 539px) {
    .cardblock_container-fluid {
        @include generatePadding(0.25rem, 0.25rem, 0.25rem, 0.25rem);
    }
    h1 {
        &.cardblock_heading {
            @include generatePadding(10px, 10px, 10px, 20px);
            font-size: 24px;
        }
        &.cardblock__title1 {
            @include generatePadding(10px, 10px, 10px, 20px);
            font-size: 24px;
        }
    }
    .cardblock_section {
        margin: 10px;
        .cardblock {
            .cardblock__body {
                border-bottom: 8px solid $jmEgyptianBlueColor;
                flex: 1 1 auto;
                min-height: 1px;
                @include generatePadding(0.5rem, 0.5rem, 0.5rem, 0.3rem);
                .cardblock__card-text {
                    &.wrap-three {
                        font-size: 20px;
                    }
                }
                .cardblock__title {
                    font-size: 13px;
                }
                .wrap-three {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-right: 20%;
                    position: relative;
                }
            }
        }
    }
    .cardblock__list-link {
        @include generateTextDecoration;
        display: flex;
        float: right;
        margin-right: -5px;
        margin-top: -30px;
        margin-right: -5px;
        @include generateFont($jmMediumFont, 17px, 22px, $jmEgyptianBlueColor);
    }
    span {
        &.cardblock__link-text {
            display: none;
        }
    }
    .cardblock__body {
        flex: 1 1 auto;
        min-height: 1px;
        @include generatePadding(0.5rem, 0.5rem, 0.5rem, 0.3rem);
        border-bottom: 8px solid $jmEgyptianBlueColor;
        &.body {
            border-bottom: 8px solid $jmEgyptianBlueColor;
        }
    }
    h2 {
        &.cardblock__card-text {
            &.wrap-three {
                font-size: 20px;
            }
        }
        &.wrap-three {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 20%;
        }
    }
    .long__card-block {
        .journal-content-article {
            .cardblock {
                .cardblock__body {
                    flex: 1 1 auto;
                    min-height: 1px;
                    @include generatePadding(0.5rem, 0.5rem, 0.5rem, 0.3rem);
                    .wrap-three {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        margin-right: 40%;
                    }
                }
            }
        }
    }
    .cardblock_section_1 {
        margin: 10px;
        .cardblock {
            .cardblock__body {
                .cardblock__title {
                    font-size: 13px;
                }
                .cardblock__card-text {
                    &.wrap-three {
                        font-size: 20px;
                    }
                }
                .wrap-three {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-right: 20%;
                }
                &.body {
                    padding-bottom: 0.4rem;
                }
            }
        }
        .cardblock__body {
            flex: 1 1 auto;
            min-height: 1px;
            @include generatePadding(0.5rem, 0.5rem, 0.5rem, 0.3rem);
            .cardblock__list-link {
                float: right;
                margin-top: -30px;
                margin-right: -5px;
            }
        }
    }   
}
