.jmcasestudy__inner-container {
  float: left;
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
}
.jmcasestudy__content {
  padding-left: 0px;
  margin-left: -20px;
}
.jmcasestudy__title {
  text-align: left;
  margin-top: -14px;
  @include generateFont($jmMediumFont, 40px, 48px, $jmDarkCharcoalColor);
}
.jmcasestudy__subtitle {
  text-align: left;
  padding-bottom: 10px;
  @include generateFont($jmMediumFont, 18px, false, $jmDarkCharcoalColor, 0.8);
}
.jmcasestudy__copy p {
  text-align: left;
  @include generateFont($jmMediumFont, 18px, false, $jmDarkCharcoalColor);
}
.jmcasestudy__btn-link {
  @include generatePosAbs(auto, auto, 0, 0);
  background: $jmEgyptianBlueColor;
}
span.jmcasestudy__link-text {
  float: right;
  /* padding-left: 12px; */
  padding: 15px 10px 0px 200px;
  text-transform: uppercase;
  float: left;
  @include generateFont($jmFont, 16px, false, $jmWhiteColor);
}
.jmcasestudy__link-icon {
  float: right;
  margin-left: 0rem;
  margin-top: 14px;
  padding: 23px 15px 15px 20px;
  @include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward-white.svg");
}
.jmcasestudy__slide {
  width: 100%;
  height: auto;
  position: relative;
  @include generateBgSizePos;
}
.jmcasestudy__img {
  width: 275px;
  height: 250px;
}
.jmcasestudy__promo-carousel-prev,
.jmcasestudy__promo-carousel-next {
  align-items: center;
  color: $jmWhiteColor;
  display: flex;
  justify-content: center;
  opacity: 1;
  text-align: center;
  @include generatePosAbs(auto, 0, 0, auto);
  transition: opacity 0.15s ease;
  width: 3%;
  z-index: 1;
  margin: -25px;
}
.jmcasestudy__btn-link {
  @include generatePosAbs(auto, auto, 0, 0);
  background: $jmEgyptianBlueColor;
}
span.jmcasestudy__link-text {
  padding: 15px 10px 0px 200px;
  text-transform: uppercase;
  float: left;
  @include generateFont($jmFont, 16px, false, $jmWhiteColor);
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jmcasestudy__img {
    width: 90%;
    height: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jmcasestudy__img {
    width: 90%;
    height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .jmcasestudy__promo-carousel-prev,
  .jmcasestudy__promo-carousel-next {
    align-items: center;
    color: $jmWhiteColor;
    display: flex;
    justify-content: center;
    opacity: 1;
    text-align: center;
    @include generatePosAbs(auto, 0, 0, auto);
    transition: opacity 0.15s ease;
    width: 3%;
    z-index: 1;
    margin: 0px;
  }
  .jmcasestudy__img {
    width: 100%;
    height: 235px;
  }
  .jmcasestudy__title {
    font-size: 36px;
  }
  .jmcasestudy__content {
    padding-left: 40px;
  }
  .jmcasestudy__copy p {
    font-size: 16px;
  }
  .jmcasestudy__subtitle {
    font-size: 16px;
  }
  .jmcasestudy__img {
    width: 100%;
    height: 235px;
  }
}
@media (max-width: 834px) {
  .jmcasestudy__content {
   margin-left:0 !important;
  }
}
@media (max-width: 575.98px) {
  .jmcasestudy__img {
    width: 27% !important;
    height: 75px !important;
  }
  .jmcasestudy__title {
    font-size: 22px !important;
    margin-top: -14px !important;
  }
  .jmcasestudy__subtitle {
    padding-bottom: 10px !important;
    font-size: 14px !important;
  }
  .jmcasestudy__btn-link {
    position: relative !important;
    bottom: 0 !important;
    right: 0 !important;
    display: flex !important;
    justify-content: flex-end !important;
    width: 95% !important;
    float: right !important;
    background: $jmEgyptianBlueColor !important;
  }
  span.jmcasestudy__link-text {
    padding: 15px 5px 0px 0px !important;
    float: left !important;
    @include generateFont($jmFont !important, 16px!important);
  }
  .jmcasestudy__copy p {
    font-size: 14px;
    line-height: 1.5;
    @include generatePadding(15px !important, false, 15px !important, 20px !important);
  }
  .jmcasestudy__header {
    position: absolute !important;
    margin-top: -70px !important;
    margin-left: 135px !important;
  }
  .jmcasestudy__promo-carousel-prev,
  .jmcasestudy__promo-carousel--next {
    align-items: center !important;
    color: $jmWhiteColor;
    display: flex;
    justify-content: center;
    opacity: 1;
    text-align: center;
    @include generatePosAbs(auto, 0, 0!important, auto);
    transition: opacity 0.15s ease;
    width: 10% !important;
    z-index: 1;
    margin: -20px -15px 0px -25px !important;
  }
  .jmcasestudy__img {
    width: 27% !important;
    height: 75px !important;
  }
  .jmcasestudy__btn-link {
    position: relative !important;
    bottom: 0 !important;
    right: 0 !important;
    display: flex !important;
    justify-content: flex-end !important;
    width: 95% !important;
    float: right !important;
    background: $jmEgyptianBlueColor !important;
  }
  span.jmcasestudy_link-text {
    float: right !important;
    padding: 15px 5px 0px 0px !important;
    font-size: 16px !important;
    float: left !important;
    font-family: $jmFont !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    align-items: center !important;
    color: $jmWhiteColor;
    display: flex;
    justify-content: center;
    opacity: 1;
    text-align: center;
    @include generatePosAbs(auto, 0, 0!important, auto);
    transition: opacity 0.15s ease;
    width: 10% !important;
    z-index: 1;
    margin: -20px -15px 0px -25px !important;
  }
  .carousel-control-next{
    left: auto;
    right: 0;
  }
}