* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
.portlet-journal-content .journal-content-article {
  word-wrap: break-word;
  height: 100%;
}
.portlet-decorate .portlet-content {
  padding: 0px !important;
  border: none !important;
}
.container-fluid {
  padding: 0px !important;
}
li {
  list-style: none;
}
.hide {
  visibility: hidden;
}
.main-nav {
  background-color: $jmWhiteColor;
  padding: 35px 0px;
}
.jmlogo__img {
  width: 250px;
  height: auto;
  margin: 25px 0;
}
.jmlogo__img--mb {
  display: none;
}
.jmheader__navbar,
.jmheader__navlinks {
  background-color: $jmEgyptianBlueColor;
}
.jmheader__navbar {
  .jmheader__navlinks {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0px 54px;
    max-width: $jmOverallContentMaxWidth;
    margin: 0 auto;
  }
}
.jmheader__navlist {
  padding: 23px 23px 16px 23px;
  list-style: none;
  color: $jmCrayolaColor;
  font-family: $jmBlackFont;
  position: static !important;
  border-bottom: solid 3px $jmEgyptianBlueColor;

  &:hover {
    border-bottom: 3px solid $jmWhiteColor;
    transition: 0.3s ease-out;
    background-color: $jmOceanBlueColor;
    opacity: 1;
  }
  a {
    font-family: $jmMediumFont;
    font-size: 14px;
    line-height: 30px;
    color: $jmCrayolaColor;
  }
}

.jmheader__navlist a.header__menu:hover {
  color: $jmWhiteColor !important;
}
.jmheader__navlist .child-header:nth-last-child(1),
.child-header:nth-last-child(2),
.child-header:nth-last-child(3),
.child-header:nth-last-child(4) {
  border-bottom: 0 !important;
}

.jmheader__navlist:hover ul.child-menu {
  display: flex;
  width: calc(100% - 216px);
  flex-wrap: wrap;
  left: 108px;
  box-shadow: $jmBoxShadow1;
  max-height: 300px;
  overflow: auto;
}
.submenu__mb {
  position: fixed;
  left: 15px;
  top: 120px;
  background: $jmEgyptianBlueColor;
  width: calc(100% - 30px);
  display: none;
  height: calc(100% - 120px);
  overflow: auto;
  z-index: 2;
  padding: 0px 20px;

  .submenu__heading {
    display: none;
  }
  .submenu__child {
    display: none;
  }
}
ul.child-menu {
  list-style-type: none;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  margin-top: 20px;
  left: 0;
  width: 100%;
  background-color: $jmWhiteColor;
  padding: 20px 40px 40px 40px;
  z-index: 10;
}
a.nav-child-cs {
  font-size: 12px;
  color: $jmGraniteGrayColor;
  font-weight: bold;
}
a.sub-child {
  color: $jmDarkCharcoalColor;
  font-size: 14px;
  line-height: 30px;
  font-family: $jmFont;
}
.header__menu {
  color: $jmCrayolaColor !important;
  text-decoration: none !important;
}
.child-menu {
  li {
    flex: 0 0 25%;
    color: $jmDarkCharcoalColor !important;
    font-family: $jmMediumFont;
    font-size: 16px;
    line-height: 24px;
  }

  a {
    color: $jmDarkCharcoalColor !important;
    font-size: 14px;
    line-height: 30px;
    font-family: $jmFont;
    opacity: 0.6;

    &:hover {
      color: $jmEgyptianBlueColor !important ;
      text-decoration: underline;
      opacity: 1;
    }
  }

  .child-header {
    border-bottom: 1px solid $jmBlackColorOpc12;
    opacity: 1;
    flex: 0 0 25%;
    padding: 30px 0px;
  }
  .jmlfry__btn {
    background-color: $jmEgyptianBlueColor;
    outline: none;
    border: none;
    align-items: end;
    padding: 20px 40px;
    color: $jmWhiteColor;
    font-size: 16px;
    line-height: 21px;
    font-family: $jmMediumFont;
    font-weight: normal;
    display: flex;
  }
  .jmprdt__btn {
    display: flex;
    align-items: flex-end;
    margin-bottom: 14px;
  }
}
.contact__container {
  display: none;
}
.icon-arrow--right {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
#jmLogoWhite {
  background: url(../images/new__jm__images/JMLogoWhite.svg) 0 0 no-repeat
    transparent;
  display: block;
  width: 270px;
  height: 50px;
  cursor: pointer;
}
.jm_arrow-right {
  background: url(../images/new__jm__images/keyboard_arrow_right.svg) 0 0
    no-repeat transparent;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  display: block;
}
.input-group-item {
  display: flex;
  position: relative;
  left: -267px;
  right: 0px;
  top: -20px;
}
.hidden__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.portlet {
  margin-bottom: 0;
}
.portlet-layout .portlet-header {
  margin-bottom: 0;
}
.arrow--animate {
  transform: rotate(180deg);
  opacity: 1;
}
.explore-icon {
  background: url("../images/new__jm__images/arrow_forward.svg") 0 0 no-repeat
    transparent;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
.arrow__forward {
  background: url("../images/new__jm__images/arrow_forward-white.svg") 0 0
    no-repeat transparent;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  top: 50%;
  margin-top: -2px;
  margin-bottom: 0!important;
  float: right;
}
.top-left {
  position: absolute;
  top: 60px;
  left: 126px;
}
video {
  width: 100%;
  height: 100%;
}
.modal-dialog {
  position: relative;
}
iframe {
  height: 721px;
  width: 100%;
}
.modal-header {
  background-color: $jmAntiFlashWhiteColor;
  color: $jmEgyptianBlueColor;
  .close-modal-block {
    width: 5rem;
    opacity: 0.9;
  }
}
.video-close-icon {
  color: $jmEgyptianBlueColor;
  font-size: 18px;
  font-family: $jmMediumFont;
}
.modal-footer {
  background-color: $jmEgyptianBlueColor;
  > .controls {
    width: 100%;
    margin-right: 6%;
    margin-left: 6%;
  }
}
.controls {
  > .play-button {
    display: none;
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  > .pause-button {
    background-color: transparent;
  }
  > .stop-button {
    background-color: transparent;
  }
  > .youtube-button-alignment {
    float: right;
    border-radius: 0px;
    margin-right: 4px;
    border-color: transparent;
    background-color: transparent;
    border-color: 1px solid $jmWhiteColor;
  }
  .btn {
    border-radius: 0px;
    margin-right: 4px;
    border-color: 1px solid $jmWhiteColor;
    background-color: transparent;
    opacity: 0.9;
  }
  .btn-primary {
    border-radius: 0px;
    margin-right: 4px;
    color: $jmWhiteColor;
    border-color: $jmNavyBlueColor;
    background-color: transparent;
  }
}
.pause-button {
  float: left;
  border-radius: 0px;
  margin-right: 4px;
  background-color: transparent;
}
.stop-button {
  float: left;
  border-radius: 0px;
  margin-right: 4px;
  background-color: transparent;
}
.svg-property {
  background-color: $jmEgyptianBlueColor;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.9;
}
.bg-light {
  background-color: $jmAntiFlashWhiteColor !important;
}
.list-link {
  color: $jmEgyptianBlueColor;
  font: 18px/22px $jmMediumFont;
  text-decoration: none;
  text-decoration-color: $jmEgyptianBlueColor;
  display: flex;
}
.centered {
  @include generatePosAbs(50%, 8rem);
  transform: translate(-50%, -50%);
}
.submit__btn {
  display: flex;
  outline: none;
  border: none;
  background-color: $jmEgyptianBlueColor;
  padding: 16px 10px 14px 34px;
  text-align: right;
  text-transform: uppercase;
  opacity: 1;
  justify-content: right;
  @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
}
.button__sec {
  display: flex;
}
.carousel-control-prev,
.carousel-control-next {
  align-items: center;
  color: $jmWhiteColor;
  display: flex;
  justify-content: center;
  opacity: 1;
  text-align: center;
  transition: opacity 0.15s ease;
  @include generatePosAbs(auto, 0, 0, auto);
  width: 3%;
  z-index: 1;
  margin: -25px;
}
.carousel-control-next-icon {
  background-image: url("../images/new__jm__images/casestudy-right-arrow.svg");
}
.carousel-control-prev-icon {
  background-image: url("../images/new__jm__images/casestudy-left-arrow.svg");
}
.no-heading {
  opacity: 0;
}
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  input[type="checkbox"] {
    border: none;
    outline: none;
    position: absolute;
    opacity: 0;
    z-index: 1;
    &:checked {
      + {
        label {
          &::after {
            content: url(../images/new__jm__images/chechboxright__arrow.png);
            right: 0px;
            top: 28px;
            left: 2px;
            position: absolute;
          }
        }
      }
    }
  }
  label {
    &::before {
      content: url(../images/new__jm__images/check_box_outline_blank.svg);
      position: relative;
      right: 2px;
      top: 9px;
    }
  }
}
.ejm__btn {
  padding: 20px;
  background: $jmEgyptianBlueColor;
  color: $jmWhiteColor !important;
  opacity: 1 !important;
  text-align: right;
  font-family: $jmMediumFont !important;
  font-size: 18px !important;
  line-height: 22px !important;
  align-items: center;
  text-transform: uppercase;
  margin-top: 30px;
  display: inline-block;
}
.full__widthcontainer {
  position: relative !important;
}
.mb__img {
  display: none;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
}
.slide-1 {
  background-image: url(../images/new__jm__images/background.svg);
}
.slide-content {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  color: $jmWhiteColor;
  padding: 0 20%;
  align-items: center;
}
.slide {
  width: 100%;
  height: 509px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot.active span {
  background: transparent;
}
.owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: transparent;
}
.owl-dot {
  background: $jmWhiteColor !important;
  width: 10px;
  height: 10px;
  cursor: pointer !important;
  margin: 7px;
  border: 1px solid $jmWhiteColor !important;
  border-radius: 50%;
  padding: 0;
  position: relative;
  bottom: 60px;
}
.owl-dot.active {
  background: $jmEgyptianBlueColor !important;
}
.owl-prev,
.owl-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -12px !important;
  left: 24px;
  background: url(../../resources/images/chevron__left__icon.png) no-repeat
    transparent !important;
  background-size: contain !important;
  z-index: 3;
  cursor: pointer !important;
}
.owl-next {
  left: auto;
  right: 24px;
  background: url(../../resources/images/chevron__right__icon.png) no-repeat
    transparent !important;
  background-size: contain !important;
}
.owl-prev span,
.owl-next span {
  display: none;
}
.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-theme .owl-dots .owl-dot span {
  background: transparent !important;
}
.btn__person {
  border-color: $jmEgyptianBlueColor;
  color: $jmWhiteColor;
  background: $jmEgyptianBlueColor 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 50px;
  border-radius: 0px;
  padding: 0px 50px;
  border: 0px;
  a{
    color: $jmWhiteColor;
    &:hover{
      text-decoration: none;
    }
  }
}
.btn-person_link {
  color: $jmWhiteColor;
  text-decoration: none;
}
.btn-person_link:hover {
  color: $jmWhiteColor;
  text-decoration: none;
}
table {
  td {
    border: 0.125rem solid $jmWhiteColor;
    padding: 0.5rem;
    background: $jmLightGrayColor;
  }
}
table {
  td {
    // border: 1px solid $jmBlackColorOpc1!important;
    padding: 20px 30px!important;
    // background: $jmLightGrayColorOpc3;
    vertical-align: top;
    @include generateFont($jmFont, 18px, 38px, $jmGraniteGrayColor);
    strong {
      font-family: $jmMediumFont;
    }
    hr{
      width: 10px;
      margin-left: auto;
    }
  }
  tr:first-child td {
    // background: $jmWhiteColor;
    padding: 15px 30px!important;
    color: $jmDarkCharcoalColor;
    border-top: 0;
  }
  tr td:first-child {
    border-left: 0;
    // background: $jmWhiteColor;
    color: $jmDarkCharcoalColor;
  }
  tr td:last-child {
    border-right: 0;
  }
  tr:last-child td {
    border-bottom: 0;
  }
}
.pad-tpbtm-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.img-overlay {
  width: 100%;
  height: 100%;
}
.img-right {
  height: 350px;
  width: 440px;
  float: right;
}
.img-left {
  height: 420px;
  width: 440px;
}
.taglib-empty-result-message-header {
  display: none;
}
b,
strong {
  font-family: $jmMediumFont;
}
a {
  color: $jmEgyptianBlueColor;
}
sub, sup{
  font-size: 10px;
}
sup{
  top: -10px;
  &.normal--txt{
    @include generateFont($jmFont, 18px, 25px, $jmDarkCharcoalColor);
		top: auto;
  }
}
sub{
  bottom: -5px;
}
.jmgeneral--hero {
  margin-top: 35px;
  .general_hero__heading{
    margin-left: -0.5rem;
    @include generateFont($jmMediumFont, 46px, 60px, $jmDarkCharcoalColor);
  }
}
.child-menu li h1 a {
  @include generateFont($jmMediumFont, 16px, 24px, $jmDarkCharcoalColor!important);
  opacity: 1;
}
.child-menu li h1 a:hover {
  text-decoration: none;
}
.child-menu .jmlfry__btn a {
  opacity: 1;
  @include generateFont($jmMediumFont, 16px, 21px, $jmWhiteColor!important);
}
.jmheader__navlist:hover ul.child-menu {
  display: flex;
  width: calc(100% - 216px);
  flex-wrap: wrap;
  left: 108px;
  box-shadow: $jmBoxShadow1;
  max-height: calc(100vh - 200px);
  overflow: auto;
  min-height: 300px;
}
.jm-richtext__subtag {
  font-size: 18px;
  font-family: $jmFont;
}
.jmdot--digital-temp .btn.btn-cancel.btn-secondary{
  padding: 20px 40px;
  @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
  border-radius: 0;
  margin-right: 20px;
}
@media (min-width: 320px) and (max-width: 539px) {
  .jmgeneral--hero {
    margin-top: 35px;
    .general_hero__heading{
      @include generateFont($jmMediumFont, 30px, 60px, $jmDarkCharcoalColor);
      padding-left: 20px;
      margin-left: -0.5rem;
    }
  }
}