.jmcta--link-icon {
	background: url('../images/new__jm__images/arrow_forward-white.svg') 0 0 no-repeat transparent;
	float: right;
	margin-left: 10px;
	@include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward-white.svg");
}
.jmbtn--cta {
	width: 27%;
	background: $jmEgyptianBlueColor;
	padding: 30px 0px;
	margin: 20px 0px;
}
.cta-block_container {
	margin: 2rem 8rem;
}
.jmcta-inner-header {
	@include generateFont($jmMediumFont, 3.25rem, 4.25rem);
	opacity: 1;
}
.jmcta-inner-text {
	@include generateFont($jmFont, 1.125rem, 1.75rem);
	margin: 10px 0px 10px 0px;
}
.jmcta-inner-link {
	background: $jmEgyptianBlueColor;
	float: right;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: -11px;
	padding-right: 10px;
	@include generateFont($jmMediumFont, false, false, $jmWhiteColor, 1, 700);
	&:hover {
		background: $jmEgyptianBlueColor;
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: -11px;
		padding-right: 10px;
		@include generateFont($jmMediumFont, false, false, $jmWhiteColor, 1, 700);
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.jmbtn--cta{
		width: 30%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.jmbtn--cta {
		width: 100%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.jmcta-inner-header {
		@include generateFont($jmMediumFont, 2.5rem, 2.625rem);
	}
	.jmcta-inner-text {
		@include generateFont($jmFont, 1.5rem, 1.625rem);
		margin: 25px 0px 30px 0px;
	}
	.jmcta-inner-link {
		background: $jmEgyptianBlueColor;
		float: right;
		text-transform: uppercase;
		font-weight: 700;
		color:$jmWhiteColor;
		text-decoration: none;
		margin-top: -11px;
		padding-right: 10px;
		&:hover {
			background: $jmEgyptianBlueColor;
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color:$jmWhiteColor;
			text-decoration: none;
			margin-top: -11px;
			padding-right: 10px;
		}
	}
	.jmbtn--cta {
		width: 100%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
@media (max-width: 575.98px) {
	.jmcta-inner-header {
		@include generateFont($jmMediumFont, 2rem, 2.625rem);
	}
	.jmcta-inner-text {
		@include generateFont($jmFont, 1rem, 1.625rem);
		margin: 15px 0px 20px 0px;
	}
	.jmcta-inner-link {
		background: $jmEgyptianBlueColor;
		float: right;
		text-transform: uppercase;
		font-weight: 700;
		color:$jmWhiteColor;
		text-decoration: none;
		margin-top: -11px;
		padding-right: 10px;
		&:hover {
			background: $jmEgyptianBlueColor;
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color:$jmWhiteColor;
			text-decoration: none;
			margin-top: -11px;
			padding-right: 10px;
		}
	}
	.jmbtn--cta {
		width: 100%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
