.jmcta--link-icon {
	background: url('../images/new__jm__images/arrow_forward-white.svg') 0 0 no-repeat transparent;
	display: block;
	width: 24px;
	height: 24px;
	float: right;
	margin-left: 10px;
}
.jmbtn--cta {
	width: 27%;
	background: $jmEgyptianBlueColor;
	padding: 30px 0px;
	margin: 20px 0px;
}
.cta-block_container {
	margin: 2rem 8rem;
}
.jmcta-inner-header {
	font-size: 3.25rem;
	line-height: 4.25rem;
	font-family: $jmMediumFont;
	opacity: 1;
}
.jmcta-inner-text {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-family: $jmFont;
	opacity: 1;
	margin: 10px 0px 10px 0px;
}
.jmcta-inner-link {
	background: $jmEgyptianBlueColor;
	float: right;
	text-transform: uppercase;
	font-weight: 700;
	color:$jmWhiteColor;
	text-decoration: none;
	margin-top: -11px;
	padding-right: 10px;
	font-family: $jmMediumFont;
	&:hover {
		background: $jmEgyptianBlueColor;
		float: right;
		text-transform: uppercase;
		font-weight: 700;
		color:$jmWhiteColor;
		text-decoration: none;
		margin-top: -11px;
		padding-right: 10px;
		font-family: $jmMediumFont;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.jmbtn--cta{
		width: 30%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.jmbtn--cta {
		width: 100%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.jmcta-inner-header {
		font-size: 2.5rem;
		line-height: 2.625rem;
		font-family: $jmMediumFont;
		opacity: 1;
	}
	.jmcta-inner-text {
		font-size: 1.5rem;
		line-height: 1.625rem;
		font-family: $jmFont;
		opacity: 1;
		margin: 25px 0px 30px 0px;
	}
	.jmcta-inner-link {
		background: $jmEgyptianBlueColor;
		float: right;
		text-transform: uppercase;
		font-weight: 700;
		color:$jmWhiteColor;
		text-decoration: none;
		margin-top: -11px;
		padding-right: 10px;
		&:hover {
			background: $jmEgyptianBlueColor;
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color:$jmWhiteColor;
			text-decoration: none;
			margin-top: -11px;
			padding-right: 10px;
		}
	}
	.jmbtn--cta {
		width: 100%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
@media (max-width: 575.98px) {
	.jmcta-inner-header {
		font-size: 2rem;
		line-height: 2.625rem;
		font-family: $jmMediumFont;
		opacity: 1;
	}
	.jmcta-inner-text {
		font-size: 1rem;
		line-height: 1.625rem;
		font-family: $jmFont;
		opacity: 1;
		margin: 15px 0px 20px 0px;
	}
	.jmcta-inner-link {
		background: $jmEgyptianBlueColor;
		float: right;
		text-transform: uppercase;
		font-weight: 700;
		color:$jmWhiteColor;
		text-decoration: none;
		margin-top: -11px;
		padding-right: 10px;
		&:hover {
			background: $jmEgyptianBlueColor;
			float: right;
			text-transform: uppercase;
			font-weight: 700;
			color:$jmWhiteColor;
			text-decoration: none;
			margin-top: -11px;
			padding-right: 10px;
		}
	}
	.jmbtn--cta {
		width: 100%;
		background: $jmEgyptianBlueColor;
		padding: 30px 0px;
	}
}
