.jmdownload-inner-container {
	background: $jmLightShadeWhiteColor;
	padding: 20px 20px;
}
.jmdownload-list-item {
	text-align: left;
	@include generateFont($jmMediumFont, 18px, false, $jmEgyptianBlueColor);
    .jmdownload-list-link {
		text-decoration: none;
		@include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
        display: flex;
		margin-left: 60px;
	}
}
.jmdownload-link-icon {
	@include generateIcon(24px, 24px, "../images/new__jm__images/download-icon.svg");
    margin-left: 1rem;
	margin-top: 0px;
	float: right;
}
.jmdownload-list-link {
	color: $jmEgyptianBlueColor;
    @include generatePosAbs(auto, auto, 0);
	&:hover {
		text-decoration: none;
	}
}
.jmdownload-left-side {
	h1 {
        @include generateFont($jmMediumFont, 38px, false, $jmDarkCharcoalColor);
	}
}
.jmdownload-right-img {
	padding-right: 35px;
	height: 200px;
	float: right;
}
@media (min-width: 540px) and (max-width:834px) {
    .jmdownload-right-img {
        padding-right: 0px;
        height: 175px;
        float:right;
    }
}   
@media(min-width: 320px) and (max-width: 539px) {
    .jmdownload-inner-container {
        background: $jmLightShadeWhiteColor;
        padding: 15px 15px;
    }
    .jmdownload-left-side {
        width: 70%;
        position: absolute;
        height: 125px;
        h1 {
            @include generateFont($jmMediumFont, 20px, false, $jmDarkCharcoalColor);
        }
    }
    .jmdownload-right-img {
        padding-right: 0px;
        float: right;
        height: 120px;
    }
    .jmdownload-list-item {
        text-align: left;
        @include generateFont($jmMediumFont, 16px, false, $jmEgyptianBlueColor);
    }
    .jmdownload-link-icon {
        width: 20px;
        height: 22px;
        margin-left: 0.5rem;
        margin-top: 0px;
    }
    .jmdownload-list-link {
        color: $jmEgyptianBlueColor;
        @include generatePosAbs(auto, auto, 0);
    }
    
}