.faqblck__heading{
    text-align: left;
    margin-top: 92px;
    margin-bottom: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid $jmBlackColorOpc1;
    @include generateFont($jmMediumFont, 36px, 48px, $jmDarkCharcoalColor);
}
.faqblck__list{
    text-align: left;
    padding: 28px 40px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    cursor:pointer;
    background-color:$jmWhiteColor;
    @include generateFont($jmMediumFont, 22px, 32px, $jmGraniteGrayColor);
}
.faqblck__sec a{
    text-decoration: none !important;
 }
.faqblck__sec a:hover{
    text-decoration: none !important;
}
.faqblck__list:nth-child(odd){
    border-top: 1px solid $jmBlackColorOpc1;
    border-bottom: 1px solid $jmBlackColorOpc1;
    background-color: $jmAntiFlashWhiteColor;
}
.faqblck__arrow{
    @include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward-blue.svg");
    margin-left: 8px;
    top: 50%;
    margin-top: 3px;
}
@media (min-width: 320px) and (max-width: 539px){
    .faqblck__heading{
        font-size: 24px;
        line-height: 48px;
    }
    .faqblck__list {
        font-size: 17px;
        line-height: 32px;
        padding: 16px 20px;
    }
}
@media (min-width: 540px) and (max-width: 834px){
    .faqblck__heading{
        font-size: 28px;
        line-height: 48px;
    }
    .faqblck__list {
        font-size: 18px;
        line-height: 32px;
        padding: 16px 20px;
    }
}