.ejm__btn{
    padding: 20px;
    background: $jmEgyptianBlueColor;
    color: $jmWhiteColor !important;
    opacity: 1!important;
    text-align: right;
    font-family: $jmMediumFont!important;
    font-size: 18px!important;
    line-height: 22px!important;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
}
.hero-panels-panel.white-border {
    border-left: 1.5px$jmWhiteColor solid!important;
}
.innovating__content{
    padding-top: 20px;
}
.invte__heading{
    line-height: 36px;
}
.innovating__sec {
    align-items: flex-start;
}
.jm-inline-promo {
	margin-bottom: 60px;
}
.jm-inline-promo .promo__block {
    padding: 60px;
}
.jm-inline-promo .promo__signup{
    font-size: 18px;
}
.jm-inline-promo .promo__heading{
    font-size: 36px;
    line-height: 44px;
}
.jm-inline-promo .promo__btn{
    position: static;
    width: auto;
    display: inline-flex
}
.jm-inline-promo .promo__sec div:last-child{
    padding-left: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block{
    padding: 120px 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block .panel_block-header{
    margin-bottom: 35px;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block .panel_block-header h1{
    text-shadow: $jmTextShadow1;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
    color: $jmWhiteColor;
    font-family: $jmMediumFont;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block .panel_block-header .col-sm-12:first-child{
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block .panel_block-header .col-sm-12:last-child{
    background: #F2F2F2;
    padding: 60px;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block .panel_block-header .col-sm-12:last-child .jm-panel .text-panel-matter{
    padding: 0;
    background: transparent;
    color: #666666;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .jm-panel .text-panel-matter{
    background: #f2f2f2;
    padding: 60px;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .panel_block .row .col-sm-12:first-child{
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .text-panel .text-panel-title{
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;
    font-family: $jmMediumFont;
    color: #666666;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .text-panel .text-panel-body p{
    letter-spacing: 0px;
    opacity: 0.84;
    font-size: 18px;
    line-height: 27px;
    font-family: $jmFont;
    margin-top: 0;
    color: $jmDarkCharcoalColor;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution']{
    position: relative;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .text-panel-img{
    position: static;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .text-panel-img picture{
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-energy-revolution'] .text-panel-img img{
    display: none;
}

.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .panel_block .panel_block-header .col-sm-12:first-child{
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .jm-panel .text-panel-matter{
    padding: 60px;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .panel_block .row .col-sm-12:first-child{
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .text-panel .text-panel-title{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 27px;
    font-family: $jmFont;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .text-panel .text-panel-body p{
    letter-spacing: 0px;
    opacity: 1;
    font-size: 18px;
    line-height: 27px;
    font-family: $jmFont;
    margin-top: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2']{
    position: relative;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .text-panel-img{
    position: static;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .text-panel-img picture{
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .text-panel-img img{
    display: none;
}
.journal-content-article[data-analytics-asset-title='Panel-Block-2'] .row {
    flex-direction: row-reverse;
}


.journal-content-article[data-analytics-asset-title='Promo-Block-innovation'] .innovating__sec{
    align-items: center;
    flex-direction: row-reverse;
}


.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .person-heading_align {
    font-family: $jmMediumFont;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0px;
    color: $jmDarkCharcoalColor;
    padding-left: 60px;
    margin-left: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .person-grid .person_card{
    border: none;
    padding: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .two-person-grid{
    margin-top: 0px;
    padding: 60px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .person_card img{
    border-radius: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] h4.person_card-title{
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] h6.person_card-text{
    color: $jmDarkCharcoalColor;
    opacity: 0.8;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] h6.person_card-number{
    color: $jmDarkCharcoalColor;
    opacity: 0.8;
    margin-bottom: 0;
    padding: 0 0 30px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .btn__person{
    padding: 0 10px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .person_explore-icon{
    margin-left: 10px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Cell-Contact'] .btn-person_link{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: $jmMediumFont!important;
    font-size: 18px!important;
    line-height: 22px!important;
}

.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__cardblock{
    height: 100%;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__cardblock .row.no-gutters {
    height: 100%;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__cardblock picture{
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__cardblock img{
    display: none;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__card-body{
    padding: 30px;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__card__title{
    line-height: 16px;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__card__text {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 25px;
    padding-bottom: 0;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .img__card__container{
    padding: 0;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block']{
    padding-left: 0;
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='Image-Card-Block'] .image-card-block__header{
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 50px;
}
#breadcrumbs .portlet-body nav{
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}
#breadcrumbs .breadcrumb{
    border-radius: 0;
    margin-bottom: 0;
    background: rgba(51, 51, 51, 0.5);
}
.breadcrumb-link{
    font: 14px/28px $jmFont;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 0.8;
}
.jmheader__navbar .jmheader__navlinks{
    margin-bottom: 0;
	padding: 0px 25px;
}
#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_nlnf{
    margin-bottom: 0;
}
#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_nlnf .autofit-float.autofit-row.portlet-header{
    margin-bottom: 0;
}
#portlet_com_liferay_site_navigation_breadcrumb_web_portlet_SiteNavigationBreadcrumbPortlet{
    margin-bottom: 0;
}
.breadcrumb-link:hover{
    opacity: .5;
    text-decoration: none;
}
.breadcrumb-text-truncate{
    font: 14px/28px $jmFont;
    letter-spacing: 0px;
    color: $jmWhiteColor;
}
.journal-content-article[data-analytics-asset-title='Fuel-cells'] .panels-hero-para{
    font: 18px/28px $jmFont;
    letter-spacing: 0px;
    color: $jmWhiteColor;
    text-shadow: $jmTextShadow1;
    opacity: 1;
    margin-bottom: 40px;
}
.journal-content-article[data-analytics-asset-title='Fuel-cells'] .panels-hero-header h1{
    line-height: 38px;
    text-shadow: $jmTextShadow1;
    margin-bottom: 35px;
}
.journal-content-article[data-analytics-asset-title='Fuel-cells'] .banner{
    padding-top: 120px!important;
    padding-bottom: 180px!important;
}

// fuel_processor
.journal-content-article[data-analytics-asset-title='Fuel-processor-catalysts'] table td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    background: #cccccc4d;
    font-family: $jmFont;
    font-size: 20px;
    line-height: 38px;
    color: #666666;
    vertical-align: top;
}
.journal-content-article[data-analytics-asset-title='Fuel-processor-catalysts'] table tr:first-child td{
    background: $jmWhiteColor;
    padding: 15px 30px;
    color: $jmDarkCharcoalColor;
    border-top: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-processor-catalysts'] table td strong{
    font-family: $jmMediumFont;
}
.journal-content-article[data-analytics-asset-title='Fuel-processor-catalysts'] table tr td:first-child{
    border-left: 0;
    background: $jmWhiteColor;
    color: $jmDarkCharcoalColor;
}
.journal-content-article[data-analytics-asset-title='Fuel-processor-catalysts'] table tr td:last-child{
    border-right: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-processor-catalysts'] table tr:last-child td{
    border-bottom: 0;
}

.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .person-heading_align {
    font-family: $jmMediumFont;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0px;
    color: $jmDarkCharcoalColor;
    padding-left: 60px;
    margin-left: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .person-grid .person_card{
    border: none;
    padding: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .two-person-grid{
    margin-top: 0px;
    padding: 60px!important;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .person_card img{
    border-radius: 0;
    position: static;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] h4.person_card-title{
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] h6.person_card-text{
    color: $jmDarkCharcoalColor;
    opacity: 0.8;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] h6.person_card-number{
    color: $jmDarkCharcoalColor;
    opacity: 0.8;
    margin-bottom: 0;
    padding: 0 0 30px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .btn__person{
    padding: 0 10px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .person_explore-icon{
    margin-left: 10px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .btn-person_link{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: $jmMediumFont!important;
    font-size: 18px!important;
    line-height: 22px!important;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .two-person-grid{
    padding: 0;
    gap: 20px;
}
.journal-content-article[data-analytics-asset-title='Fuel-Catalysts'] .person-subheading_align{
    font-family: $jmMediumFont;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: $jmDarkCharcoalColor;
    padding-left: 60px;
    margin-left: 0;
    margin-top: 15px;
}


// pgm_refining
.journal-content-article[data-analytics-asset-title='Pgms and specialist metallurgy - Inline Promo'] .promo__block {
    padding: 60px;
}
.journal-content-article[data-analytics-asset-title='Pgms and specialist metallurgy - Inline Promo'] .promo__signup{
    font-size: 18px;
}
.journal-content-article[data-analytics-asset-title='Pgms and specialist metallurgy - Inline Promo'] .promo__heading{
    font-size: 36px;
    line-height: 44px;
}
.journal-content-article[data-analytics-asset-title='Pgms and specialist metallurgy - Inline Promo'] .promo__btn{
    position: static;
    width: auto;
    display: inline-flex
}
.journal-content-article[data-analytics-asset-title='Pgms and specialist metallurgy - Inline Promo'] .promo__sec div:last-child{
    padding-left: 0;
}

.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .container{
    padding-left: 0;
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .jm-video-image-container{
    padding-left: 0;
    padding-right: 0;
}
.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .centered-with-text{
    top: 120px;
    left: 100px;
    transform: translate(0%,0%);
    width: 44%;
}
.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .centered{
    top: 310px;
    left: 100px;
    transform: translate(0%,0%);
    width: auto;
}
.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .jm-info-btn{
    border: none;
}
.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .jm-image-slogan-text{
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: $jmFont;
    letter-spacing: 0;
    color: $jmWhiteColor;
    text-transform: capitalize;
    opacity: .84;
    margin: 0 0 5px;
}
.journal-content-article[data-analytics-asset-title='RefiningVideo Block'] .jm-image-text-heading{
    font-size: 36px;
    line-height: 40px;
    font-family: $jmMediumFont;
    color: $jmWhiteColor;
}

.journal-content-article[data-analytics-asset-title='PGM Refining'] .person-heading_align {
    font-family: $jmMediumFont;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0px;
    color: $jmDarkCharcoalColor;
    padding-left: 60px;
    margin-left: 0;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .person-grid .person_card{
    border: none;
    padding: 0;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .two-person-grid{
    margin-top: 0px;
    padding: 60px!important;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .person_card img{
    border-radius: 0;
    position: static;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] h4.person_card-title{
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] h6.person_card-text{
    color: $jmDarkCharcoalColor;
    opacity: 0.8;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] h6.person_card-number{
    color: $jmDarkCharcoalColor;
    opacity: 0.8;
    margin-bottom: 0;
    padding: 0 0 30px;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .btn__person{
    padding: 0 10px;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .person_explore-icon{
    margin-left: 10px;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .btn-person_link{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: $jmMediumFont!important;
    font-size: 18px!important;
    line-height: 22px!important;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .two-person-grid{
    padding: 0;
    gap: 20px;
}

// refining persons
.journal-content-article[data-analytics-asset-title='PGM Refining'] h6.person_card-number{
    padding: 0 0 5px;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .btn__person {
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .person_card-body {
    padding: 10px 0 70px;
}
.journal-content-article[data-analytics-asset-title='PGM Refining'] .person__container {
    height: 100%;
    position: relative;
}

.panel_block-header h1{
	text-shadow: 0 0 8px #000;
	font-size: 48px;
	line-height: 60px;
	margin: 0;
	color: $jmWhiteColor;
	font-family: $jmMediumFont;
}

.cta-block_inner {
    margin-bottom: 40px;
}