.jm-inline-promo {
	margin-bottom: 60px;
    .promo__block {
        padding: 60px;
    }
    .promo__signup{
        font-size: 18px;
    }
    .promo__heading{
        font-size: 36px;
        line-height: 44px;
    }
    .promo__btn{
        position: static;
        width: auto;
        display: inline-flex
    }
    .promo__sec div:last-child{
        padding-left: 0;
    }
}
