.jmhero--industry-main-container-temp {
	#jmhero--industry-temp {
		background-size: cover;
		position: absolute !important;
		height: 100%;
		right: 0;
		top: 0;
		width: 100%;
	}
	#jmhero--industry-img-temp {
		display: none;
	}
}
@media (min-width: 320px) and (max-width: 539px) {
	.jmhero--industry-main-container-temp {
		#jmhero--industry-temp {
			display: none;
		}
		#jmhero--industry-img-temp {
			background-size: cover;
			display: block;
			height: 300px;
		}
		.industry-blck {
			flex: 0 0 0;
			max-width: 100%;
		}
	}
}
@media (min-width: 540px) and (max-width: 834px) {
	.jmhero--industry-main-container-temp {
		#jmhero--industry-temp {
			display: none !important;
		}
		#jmhero--industry-img-temp {
			background-size: cover;
			display: block;
			height: 300px;
		}
		.industry-blck {
			flex: 0 0 0;
			max-width: 100%;
		}
	}
}
