#jmpanels--hero-temp {
	@include generateBgSizePos;
	.panels-hero-panels {
		background-color: $jmEgyptianBlueColor;
	}
	.hero-panels-panel.white-border {
		border-left: 1.5px $jmWhiteColor solid;
	}
	.panels-hero-header {
		h1 {
			text-shadow: $jmTextShadow2;
			@include generateFont($jmMediumFont, 46px, 60px, $jmWhiteColor);
		}
	}
	.panels-hero-para {
		text-shadow: $jmTextShadow1;
		@include generateFont($jmMediumFont, 18px, 28px, $jmWhiteColor, 0.8);
	}
}
