#jmpanels--hero-temp {
	background-position: center;
	background-size: cover;
	.panels-hero-panels {
		background-color: $jmEgyptianBlueColor;
	}
	.hero-panels-panel.white-border {
		border-left: 1.5px $jmWhiteColor solid;
	}
	.panels-hero-header {
		h1 {
			font-size: 46px;
			line-height: 60px;
			font-family: $jmMediumFont;
			color: $jmWhiteColor;
			text-shadow: $jmTextShadow2;
		}
	}
	.panels-hero-para {
		font-size: 18px;
		line-height: 28px;
		font-family: $jmMediumFont;
		color: $jmWhiteColor;
		text-shadow: $jmTextShadow1;
		opacity: 0.8;
	}
}
