.jmcareerhero__banner {
    background-image: url(/documents/101039/101203/cloud.svg/0084d11c-e07c-251f-5907-2f9b07db8a76?t=1645509290280);
    @include generateBgSizePos;
    height: 400px;
}
.jmcareerhero__centered {
    transform: translate(-50%,-50%);
    @include generatePosAbs(40%, 50%);
}
.jmcareerhero__pretitle {
    text-align: left;
    text-shadow: $jmTextShadow1;
    margin: 65px 0 0;
    @include generateFont($jmMediumFont, 18px, 28px, $jmWhiteColor, 0.8);
}
.jmcareerhero__heading {
    text-align: left;
    text-shadow: $jmTextShadow1;
    margin: 16px 0 24px;
    @include generateFont($jmFont, 52px, 60px, $jmWhiteColor);
}
.jmcareerhero__input--sec {
    width: 100%;
    cursor: pointer;
    display: flex;
}
.jmdept--sec {
    width: 80%;
}
.jmcareerhero__input {
    padding: 17px 0 16px 20px;
    outline: 0;
    border: 0;
    width: 100%;
    cursor: pointer;
}
.jmcareerhero__dropdown--sec {
    background-color: $jmWhiteColor;
    border-left: 1px solid $jmDarkGrayColor;
}
.jmcareerhero__dropdown {
    position: relative;
    width: 300px;
    height: 50px;
}
.jmcareerhero__dropdown::before {
    content: "";
    @include generatePosAbs(auto, 15px, auto, 20px);
    @include generateIcon(24px, 24px, "../images/new__jm__images/keyboard_arrow_down-blue.svg");
    z-index: 10000;
}
.jmcareerhero__dropdown input {
    @include generatePosAbs(0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: $jmWhiteColor;
    box-shadow: $jmBoxShadow2;
    padding: 12px 20px;
    @include generateFont($jmMediumFont, 16px, 28px, $jmDarkCharcoalColor, 0.8);
    border: 0;
    outline: 0;
}
.jmcareerhero__dropdown.active .jmcareerhero__option {
    display: block;
    max-height: 240px;
    overflow-y: scroll;
}
.jmcareerhero__dropdown .jmcareerhero__option  {
    @include generatePosAbs(auto, 50px);
    width: 100%;
    background: $jmWhiteColor;
    box-shadow: $jmBoxShadow1;
    overflow: hidden;
    display: none;
    max-height: 0;
}
.jmcareerhero__dropdown .jmcareerhero__option div {
    padding: 8px 20px;
    cursor: pointer;
    @include generateFont($jmMediumFont, 16px, 28px, $jmDarkCharcoalColor, 0.8);
}
.jmcareerhero__btn--sec {
    display: flex;
}
.jmcareerhero__submit--btn {
    display: flex;
    outline: 0;
    border: 0;
    background-color: $jmEgyptianBlueColor;
    padding: 16px 10px 14px 34px;
    text-align: right;
    text-transform: uppercase;
    justify-content: right;
    @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
}
.jmcareerhero__arrow {
    @include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward-white.svg");
    margin-left: 8px;
    top: 50%;
    margin-top: -2px;
}
@media(min-width: 320px) and (max-width: 539px){
    .jmcareerhero__banner{
        height: 463px;
    }
}