.jmpanels--hero-temp {
	@include generateBgSizePos;
	margin-top: -52px;
	.panels-hero-panels {
		background-color: $jmEgyptianBlueColor;
	}
	.hero-panels-panel.white-border {
		border-left: 1.5px $jmWhiteColor solid;
	}
	.panels-hero-header {
		h1, h2, h3, h4, h5, h6 {
			text-shadow: $jmTextShadow2;
			@include generateFont($jmMediumFont, 46px, 60px, $jmWhiteColor);
		}
	}
	.panels-hero-para {
		text-shadow: $jmTextShadow1;
		@include generateFont($jmMediumFont, 24px, 28px, $jmWhiteColor, 0.8);
	}
	.panel__btnlist{
		display: flex;
		flex-direction: column;
		width: auto;
		min-width: 320px;
		max-width: 410px;
	}
	.panel__btn{
		margin-top: 30px;
		margin-bottom: 10px;
	}
}