.homehero__heading {
  text-align: left;
  text-shadow: $jmTextShadow1;
  margin: 0 0 14px;
  @include generateFont($jmMediumFont, 21px, 28px, $jmWhiteColor, 0.8, 400);
}
.homehero__para {
  text-align: left;
  max-width: 545px;
  margin-bottom: 50px;
  text-shadow: $jmTextShadow1;
  @include generateFont($jmFont, 36px, 52px, $jmWhiteColor, 1, 400);
}
/** text css:: end**/
.home__btn {
  display: flex;
  background-color: $jmEgyptianBlueColor;
  width: 315px;
  border: none;
  outline: none;
  padding: 20px 10px 17px 24px;
  justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;
  @include generateFont($jmMediumFont, 16px, 22px, $jmWhiteColor);
}
.matthey--carousel .owl-prev,
.matthey--carousel .owl-next {
  width: 36px;
  height: 36px;
  margin-top: -32px;
}
.matthey--carousel .owl-prev {
  left: 15px;
}
.matthey--carousel .owl-prev {
  background: url(../images/new__jm__images/previous.svg) no-repeat transparent !important;
}
.matthey--carousel .owl-next {
  left: auto;
  right: 15px;
  background: url(../images/new__jm__images/next.svg) no-repeat transparent !important;
  background-size: contain !important;
}
@media (min-width: 320px) and (max-width: 539px) {
  .homehero__heading {
    font-size: 15px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 14px;
  }
  .homehero__para {
    font-size: 20px;
    line-height: 37px;
  }
  .home__btn {
    width: 240px;
    font-size: 14px;
    padding: 15px 10px 15px 21px;
  }
}
@media (min-width: 540px) and (max-width: 834px) {
  .homehero__heading {
    font-size: 15px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 14px;
  }
  .homehero__para {
    font-size: 24px;
    line-height: 37px;
  }
  .home__btn {
    width: 211px;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 15px 10px 15px 21px;
  }
}
