.jmimg--cardblock-link--icon {
  @include generateIcon(24px, 24px, "../images/new__jm__images/blue-right-arrow.svg");
  margin-left: 8px;
}
.col-md-4.\33 .jmimg-cardblock--col-img img {
  height: 190px;
  float: right;
}
.col-md-6.\32 .jmimg-cardblock--col-img img {
  height: 158px;
  float: right;
}
.jmimg-cardblock--right-img img {
  width: 100%;
  height: 100%;
}
.image-card-block__body {
	.journal-content-article {
		height: 100%;
	}
}
.image-card-block__inner {
  margin: 20px 0px;
}
.image-card-block {
  [class^='col-md'] {
    margin-bottom: 20px;
  }
  &.container{
    padding-left: 0;
    padding-right: 0;
  }
}
.jmimage-card-block--header {
  padding: 20px 0px 20px 0px;
  @include generateFont($jmMediumFont, 34px, false, $jmDarkCharcoalColor);
}
.jmimg__cardblock-body {
  flex: 1 1 auto;
  min-height: 1px;
  @include generatePadding(1.25rem, 1.25rem, 1.25rem, 0.5rem);
}
.jmimg-card_block {
  border-bottom: 15px solid $jmEgyptianBlueColor;
  height: 100%;
}
.jmimg--cardblock--title {
  text-align: left;
  text-transform: capitalize;
  @include generateFont($jmFont, 14px, false, $jmDarkCharcoalColor);
}
.row.jmimg-cardblock--no-gutters {
  height: 100%;
}
.jmimg--cardblock--text {
  padding-right: 60px;
  padding-bottom: 50px;
  width: 100%;
  @include generateFont($jmFont, 25px, 1.2em, $jmDarkCharcoalColor, 1, 500);
}
.jmimg--cardblock-list--ilnk {
  @include generateTextDecoration;
  display: flex;
  margin-top: 0px;
  bottom:18px;
  position: absolute;
  left: auto;
  top: auto;
  @include generateFont($jmMediumFont, 18px, 27px, $jmEgyptianBlueColor);
  &:hover {
    @include generateTextDecoration;
    @include generateFont($jmMediumFont, 18px, 27px, $jmEgyptianBlueColor);
    display: flex;
    margin-top: 0px;
  }
}
.jmimg--cardblock-link--icon {
  width: 24px;
  margin-top: 2px;
  height: 24px;
  margin-left: 8px;
  float: left;
}
.image-card-block__body{
  .journal-content-article {
    height: 100%;
  }
  [class^='col-md']{
    .container{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .jmimg--cardblock--text {
    padding-right: 40px;
    width: 100%;
    padding-bottom: 20px;
    @include generateFont($jmFont, 22px, 1.2em, $jmDarkCharcoalColor, 1, 500);
  }
  .jmimg--cardblock--title {
    text-align: left;
    text-transform: capitalize;
    @include generateFont($jmFont, 13px, false, $jmDarkCharcoalColor);
  }
  .jmimg--cardblock-list--ilnk {
    @include generateTextDecoration;
    display: flex;
    bottom:18px;
    margin-top: 0px;
    @include generatePosAbs(auto, auto, auto, 25px);
    @include generateFont($jmMediumFont, 16px, 25px, $jmEgyptianBlueColor);
  }
  .col-md-4.\33 {
    .jmimg-cardblock--col-img {
      img {
        height: 170px;
        float: right;
      }
    }
  }
  .col-md-6.\32 {
    .jmimg-cardblock--col-img {
      img {
        height: 145px;
        float: right;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .jmimage-card-block--header {
    padding: 15px 0px 20px 0px;
    @include generateFont($jmMediumFont, 26px, false, $jmDarkCharcoalColor);
  }
  .jmimg__cardblock-body {
    flex: 1 1 auto;
    min-height: 1px;
    @include generatePadding(0.5rem, 0.5rem, 0.5rem, 0.5rem);
  }
  .jmimg--cardblock--body {
    flex: 1 1 auto;
    min-height: 1px;
    @include generatePadding(1rem, 1rem, 1rem, 1rem);
    width: 100%;
  }
  .jmimg--cardblock--text {
    padding-right: 0px;
    width: 100%;
    margin-bottom: 40px;
    @include generateFont($jmFont, 18px, 1.2em, $jmDarkCharcoalColor, 1, 500);
  }
  .jmimg--cardblock--title {
    text-align: left;
    text-transform: capitalize;
    @include generateFont($jmFont, 12px, false, $jmDarkCharcoalColor);
  }
  .jmimg--cardblock-list--ilnk {
    @include generateTextDecoration;
    @include generateFont($jmMediumFont, 14px, 26px, $jmEgyptianBlueColor);
    @include generatePosAbs(auto, auto, auto, 20px);
    display: flex;
    margin-bottom: 18px !important;
    margin-top: 0px;
  }
  .col-md-4.\33 {
    .jmimg-cardblock--col-img {
      img {
        height: 140px;
        float: right;
      }
    }
  }
  .col-md-6.\32 {
    .jmimg-cardblock--col-img {
      img {
        height: 120px;
        float: right;
      }
    }
  }
  .jmimg-card_block {
    border-bottom: 10px solid $jmEgyptianBlueColor;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .jmimg--cardblock--text {
    padding-right: 0px;
    width: 150%;
    @include generateFont($jmFont, 25px, 1.2em, $jmDarkCharcoalColor, 1, 500);
  }
  .jmimg-card_block {
    border-bottom: 15px solid $jmEgyptianBlueColor;
    margin-bottom: 20px;
  }
  .col-md-4.\33 {
    .jmimg-cardblock--col-img {
      img {
        height: 130px;
        float: right;
        width: 160px;
      }
    }
  }
  .col-md-6.\32 {
    .jmimg-cardblock--col-img {
      img {
        height: 125px;
        float: right;
        width: 155px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .jmimg-card_block {
    border-bottom: 8px solid $jmEgyptianBlueColor;
    margin-bottom: 10px;
  }
  .jmimg__cardblock-body {
    flex: 1 1 auto;
    min-height: 1px;
    @include generatePadding(0.7rem, 0, 0.7rem, 0.5rem);
  }
  .jmimage-card-block--header {
    padding: 10px 0px 20px 0px;
    @include generateFont($jmMediumFont, 24px, false, $jmDarkCharcoalColor);
  }
  .jmimg--cardblock--title {
    text-align: left;
    text-transform: capitalize;
    @include generateFont($jmFont, 12px, false, $jmDarkCharcoalColor);
  }
  .jmimg--cardblock--text {
    padding-right: 30px;
    padding-bottom: 0px;
    width: 100%;
    right: 5px;
    @include generateFont($jmFont, 20px, 1.2em, $jmDarkCharcoalColor, 1, 500);
  }
  .jmimg--cardblock-link--text {
    display: block;
  }
  .col-md-4.\33 {
    .jmimg-cardblock--col-img {
      img {
        height: 100px;
        float: right;
        width: 90px;
      }
    }
  }
  .col-md-6.\32 {
    .jmimg-cardblock--col-img {
      img {
        height: 100px;
        float: right;
        width: 90px;
      }
    }
  }
  .jmimg--cardblock-list--ilnk {
    @include generateTextDecoration;
    display: flex;
    margin-top: 0px;
    bottom: 15px;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    position: relative;
    @include generateFont($jmMediumFont, 17px, 22px, $jmEgyptianBlueColor);
  }
  .jmimg--main--cardblock {
    border-bottom: 10px solid $jmEgyptianBlueColor;
  }
}
.jmimg--cardblock--longcol {
  .jmimg--cardblock-img.rounded-0 {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
.jmimg--cardblock--body {
  flex: 1 1 auto;
  min-height: 1px;
  @include generatePadding(1.25rem, 1.25rem, 1.25rem, 0.5rem);
  width: 100%;
}
.jmimg--main--cardblock {
  border-bottom: 15px solid $jmEgyptianBlueColor;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jmimg--cardblock--longcol {
    .jmimg--cardblock-img.rounded-0 {
      height: 145px;
      width: 100%;
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .jmimg--cardblock--longcol {
    .jmimg--cardblock-img.rounded-0 {
      height: 120px;
      width: 100%;
    }
  }
  .jmimg--cardblock--body {
    flex: 1 1 auto;
    min-height: 1px;
    @include generatePadding(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .jmimg--cardblock--longcol {
    .jmimg--cardblock-img.rounded-0 {
      height: 155px;
      float: right;
      width: 155px;
    }
  }
}
@media (max-width: 575.98px) {
  .jmimg--cardblock--longcol {
    .jmimg--cardblock-img.rounded-0 {
      height: 100px;
      float: right;
      width: 125px;
    }
  }
  .jmimg--cardblock--body {
    flex: 1 1 auto;
    min-height: 1px;
    @include generatePadding(0.7rem, 0, 0.7rem, 0.5rem);
  }
  .jmimg-card_block {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767.98px){
  .image-card-block [class^='col-md']{
    margin-bottom: 0;
  }
}

