.career__sec {
  position: relative;
  display: inline-block;
  width: 100%;
}
.industry__sec {
  margin-bottom: 100px;
}
.industry__text {
  padding-top: 0px;
  a {
    @include linkNHover;
    &:hover {
      @include linkNHover;
    }
  }
  p{
    a:not([class]){
      text-decoration: revert;
      color:$jmEgyptianBlueColor;
      background: transparent;
      &:hover {
        text-decoration: revert;
        color:$jmEgyptianBlueColor;
        background: transparent;
      }
    }
  }
}
.hero-links a {
  @include linkNHover;
  &:hover {
    @include linkNHover;
  }
}
.industry__para {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 44px;
  text-align: left;
  max-width: 572px;
  @include generateFont($jmFont, 18px, 28px, $jmDarkCharcoalColor, 0.8);
}
.industry__heading {
  margin: 0;
  text-align: left;
  letter-spacing: 0px;
  @include generateFont($jmMediumFont, 52px, 60px, $jmDarkCharcoalColor);
}
.industry__btn {
  display: flex;
  background-color: $jmEgyptianBlueColor;
  width: 378px !important;
  border: none;
  outline: none;
  padding: 20px 10px 17px 0px;
  justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 20px;
  @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
}
.industry__img img {
  width: 100%;
  height: auto;
}
@media (min-width: 320px) and (max-width: 539px) {
  .industry__btn {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .industry__para {
    font-size: 14px;
  }
  .industry__heading {
    font-size: 32px;
  }
  .industry__img {
    display: none;
  }
}
@media (min-width: 540px) and (max-width: 834px) {
  .industry__text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .industry__img {
    display: none;
  }
  .industry__btn {
    width: 260px !important ;
    margin-bottom: 40px;
  }
  .industry__para {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 30px;
    max-width: 290px;
  }
  .industry__heading {
    font-size: 32px;
  }
}