.jminline--promo {
  background-color: $jmEgyptianBlueColor;
  padding: 60px 0px 60px 60px;
}
.jminline-promo--sign-up {
  text-align: left;
  text-transform: capitalize;
  margin: 0;
  @include generateFont($jmFont, 16px, 22px, $jmWhiteColor, 0.84);
}
.jminline-promo--heading {
  margin: 24px 0 36px;
  text-align: left;
  max-width: 467px;
  @include generateFont($jmMediumFont, 40px, 48px, $jmWhiteColor);
}
.jminline-promo--btn {
  text-align: right;
  background-color: $jmEgyptianBlueColor;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  outline: none;
  border: 1px solid $jmWhiteColor;
  padding: 20px 10px 17px 60px;
  position: absolute;
  @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
}
.jminline-promo--btn:hover {
  text-decoration: none;
  color: $jmWhiteColor;
}
.jminline-promo--forward-icon{
  @include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward-white.svg");
  margin-left: 8px;
  top: 50%;
  margin-top: -2px;
}
.jminline-promo--section .col-md-4 {
  padding: 0px !important;
}
.jminline-promo--img {
  width: 100%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 539px) {
  .jminline--promo{
    padding: 30px 20px 80px 20px;
    width: 100%;
  }
  .jminline-promo--heading {
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .jminline-promo--sign-up {
    font-size: 14px;
  }
  .jminline-promo--btn {
    font-size: 16px;
    padding: 16px 10px 16px 53px;
  }
}
@media (min-width: 540px) and(max-width: 834px) {
  .jminline--promo {
    padding: 40px 20px 80px 20px;
  }
}
@media (min-width: 835px) and (max-width: 1200px) {
  .jminline--promo {
    padding: 40px 20px 105px 20px;
  }
}
