.jmlist {
    .jmlist__links-heading{
        padding-bottom: 30px;
        @include generateFont($jmMediumFont, 40px, 48px, $jmDarkCharcoalColor);
    }
    .jmlist__item{
        padding: 22px 40px 22px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
        background-color: $jmAntiFlashWhiteColor; 
        @include generateFont($jmFont, 24px, false, $jmDarkCharcoalColor);
    }
    .jmlist__title-text{
        @include generateFont($jmFont, 26px, 28px, $jmDarkCharcoalColor);
    }
    .jmlist__link{
        text-decoration: none;
        display: flex;
        margin-left: 0;
        @include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .jmlist__icon {
        @include generateIcon(24px, 24px, "../images/new__jm__images/blue-right-arrow.svg");
        margin-left: 10px;
        float: right;
        margin-top:2px
    }
    .jmlist__text {
        float: left;
        @include generateFont($jmMediumFont, 18px, false, $jmEgyptianBlueColor);
        margin-left: auto;
    }
    @media (min-width: 320px) and (max-width: 539px) {
        .jmlist__item {
            padding: 15px 10px 15px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            @include generateFont($jmFont, 20px, false, $jmDarkCharcoalColor);
        }
        .jmlist__text {
            font-size: 15px;
            display: none;
        }
        .jmlist__icon {
            width: 20px;
            height: 20px;
            margin-left: 8px;
        }
        .jmlist__links--heading{
            padding-bottom: 5px;
            @include generateFont($jmMediumFont, 24px, false, $jmDarkCharcoalColor);
        }
    }
}