h1.list-block_title {
    font-family: $jmMediumFont;
    padding: 10px 0px 30px 0px;
    font-size: 34px;
    letter-spacing: 0px;
    color: c;
    opacity: 1;
}
    .list-block-css {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-bottom: $jmEgyptianBlueColor 15px solid;
}
.product-align {
    flex: 1 1 auto;
    min-height: 1px;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
}
.product-css {
    letter-spacing: 0px;
    color: $jmDarkCharcoalColor;
    text-transform: capitalize;
    opacity: 1;
    font-size: 14px;
    line-height: 16px;
    font-family: $jmFont;
    text-align: left;
}
.product-heading {
        font-size: 25px;
    line-height: 1.2em;
    font-weight: 500;
    font-family: $jmFont;
    color: $jmDarkCharcoalColor;
opacity: 1;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20%;
}
.read-more {
    letter-spacing: 0px;
    color: $jmEgyptianBlueColor;
    opacity: 1;
    font-size: 18px;
    line-height: 22px;
    font-family: $jmMediumFont;
    margin-top: 21px;
}
.readmore-icon {
    background: url(/documents/42964/42997/arrow_forward-blue.svg/6e6b2841-ccbc-86e7-f1e4-02fc0e75f84c?t=1643266788636) 0 0 no-repeat transparent;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 95px;
    margin-top: -37px;
}
.list-block_container {
    background: $jmWhiteColor;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 1rem 4rem;
    word-wrap: break-word;
}
@media(min-width: 320px) and (max-width: 539px) {
    .list-block_container {
    padding: 0rem 1rem;
}
h1.list-block_title{
    padding: 10px 0px 10px 0px;
    font-size: 24px;
}
.product-align{
    flex: 1 1 auto;
    min-height: 1px;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
}
.product-css{
    font-size:13px;
    margin:0px;
}
.product-heading{
    font-size: 20px;
        margin-bottom: 0px;
        margin-top: 5px;
            margin-right: 20%;
}
.read-more{
    display:none;
}
.readmore-icon{
        float: right;
    margin-top: -23px;
    margin-right: 0px;
}
.list-block-css {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-bottom: $jmEgyptianBlueColor 10px solid;
}
}
@media(min-width: 540px) and (max-width:834px){
    .list-block_container {
    padding: 0.5rem 2rem;
}
h1.list-block_title {
    font-size: 30px;
}
.product-heading {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0%;
}
.product-css{
    font-size:13px;
    margin:0px
}
.product-align {
    flex: 1 1 auto;
    min-height: 1px;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.read-more{
    font-size:17px;
    margin-top: 20px;
}
.readmore-icon {
    margin-left: 90px;
}
}
@media(min-width: 835px) and (max-width:1024px){
    .product-heading{
        margin-right: 0%;
    }
}