.list-of--links-container {
    .jmlist-of--links-heading{
        padding-bottom: 30px;
        @include generateFont($jmMediumFont, 40px, 48px, $jmDarkCharcoalColor);
    }
    .jmlist-of--item{
        padding: 22px 40px 22px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
        background-color: $jmAntiFlashWhiteColor; 
        @include generateFont($jmFont, 24px, false, $jmDarkCharcoalColor);
    }
    .jmlist-of--link{
        text-decoration: none;
        display: flex;
        margin-left: 60px;
        @include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
    }
    .jmlist-of--icon {
        @include generateIcon(24px, 24px, "../images/new__jm__images/blue-right-arrow.svg");
        margin-left: 10px;
        float: right;
        margin-top:2px
    }
    .jmlist-of--text {
        float: left;
        @include generateFont($jmMediumFont, 18px, false, $jmEgyptianBlueColor);
    }
    @media (min-width: 320px) and (max-width: 539px) {
        .jmlist-of--item {
            padding: 15px 10px 15px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            @include generateFont($jmFont, 20px, false, $jmDarkCharcoalColor);
        }
        .jmlist-of--text {
            font-size: 15px;
            display: none;
        }
        .jmlist-of--icon {
            width: 20px;
            height: 20px;
            margin-left: 8px;
        }
        .jmlist-of--links--heading{
            padding-bottom: 5px;
            @include generateFont($jmMediumFont, 24px, false, $jmDarkCharcoalColor);
        }
    }
}