.search--locresults{
	.explore__heading {
    	border-bottom: 1px solid $jmBlackColorOpc1;
    	margin-bottom: 0;
    	padding-bottom: 5px;
    	margin-left: 0;
        padding-left: 25px;
        @media (min-width: 320px) and (max-width: 834px) {
            margin-right: 0;
            padding-right: 20px;
        }
    }
    .jmaccrdn__title p{
        @include generateFont($jmMediumFont, 24px, 32px, $jmGraniteGrayColor);
        margin-bottom: 0;
        width: 100%;
        border-bottom: 1px solid $jmBlackColorOpc1;
        padding: 25px 40px;
        display: flex;
        justify-content: space-between;
        .jmaccrdn__arrow {
            @include generateIcon(24px, 24px, "../images/new__jm__images/jm__accrdn_arrow_blue.svg");
            margin-left: 8px;
            margin-top: 7px;
        }
    }
    .jmaccrdn__answer-sec{
        background: $jmAntiFlashWhiteColor;
        padding: 45px 40px 0;
        border-bottom: 1px solid $jmBlackColorOpc1;
        .country-locations .col-md-4{
            margin-bottom: 25px;
            &:nth-child(n+4){
                margin-top: 25px;
            }
            div{
                @include generateFont($jmFont, 18px, 22px, $jmDarkCharcoalColor);
                &.jmcountry-title{
                    @include generateFont($jmMediumFont, 18px, 22px, $jmDarkCharcoalColor);
                }
            }
        }
        .map-link-cont{
            margin-top: 15px;
        }
        .map-link{
            @include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
            text-decoration: underline;
        }
    }
}
.search--sort{
	.radio label{
    	display: flex;
    	align-items: center;
    }
}