@media (min-width: 1024px) {
  .iframe-header {
    margin-bottom: 60px;
  }
  .iframe-block__intro {
    width: 80%;
    display: block;
  }
  .iframe-container {
    width: 75%;
  }
}
@media (min-width: 2048px) {
  .iframe-block__intro {
    width: 65%;
  }
  .iframe-container {
    width: 100%;
  }
}
/**media query for mobile **/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn__person {
    padding: 0px 35px;
  }
}
@media(max-width: 990px) {
  .explore-icon{
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-control-prev,
  .carousel-control-next {
    align-items: center;
    color: $jmWhiteColor;
    display: flex;
    justify-content: center;
    opacity: 1;
    text-align: center;
    @include generatePosAbs(auto, 0, 0, auto);
    transition: opacity 0.15s ease;
    width: 3%;
    z-index: 1;
    margin: 0px;
  }
  .carousel-control-next{
    left: auto;
    right: 0;
  }
  .btn__person {
    padding: 0px 40px;
  }
}
/**media query for tab **/
@media (max-width: 834px) {
  .jmheader__navlist.jmshow--submenu {
    display: inline-block!important;
    border-bottom: 0!important;
    .hidden__overlay, .header__menu, .jmarrow__right{
      display: none!important;
    }
  }
  .submenu__mb .jmlfry__btn{
    width: 100%;
    border: solid 1px $jmWhiteColor;
    background: transparent;
    padding: 15px;
  }
  .jmheader__navlist.jmchildmenu--listsnormal:hover .child-menu.jmchildmenu__lists{
    display: none!important;
  }
  .jmlogo__img {
    display: none;
  }
  .jmlogo__img--mb {
    display: block !important;
    width: 52px;
    height: 24px;
    margin: 20px 0px;
  }
  .jmheader__navbar {
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.8s ease;
    position: fixed;
    width: 100%;
    height: calc(100% - 64px);
    z-index: 3;
    top: 64px;
  }
  .jmheader__navbar.open {
    visibility: visible;
    transition: all 0.8s ease;
    max-height: 100%!important;
  }
  .jmheader__navlist:hover ul.child-menu {
    display: none !important;
  }
  .jmheader__navlist:hover {
    background: none !important;
  }
  li.jmheader__navlist {
    position: relative !important;
  }
  .hidden__overlay {
    display: block !important;
  }
  .dis__none {
    display: none;
  }
  .submenu__mb {
    .submenu__child {
      display: block !important;
    }
    .submenu__content {
      border-bottom: 1px solid $jmWhiteColorOpc2;
      opacity: 1;
      flex: 0 0 25%;
      padding: 20px 0px;
    }
    .submenu__list {
      font-family: $jmMediumFont;
      font-size: 14px;
      line-height: 20px;
      color: $jmWhiteColor;
    }
    .submenu__heading {
      font-family: $jmMediumFont;
      font-size: 14px;
      line-height: 20px;
      opacity: 0.6;
      color: $jmWhiteColor;
      display: block !important;
      margin-top: 20px;
    }
  }
  .jmheader__navlist {
    width: 100%;
    border-bottom: 1px solid $jmWhiteColorOpc2 !important;
    opacity: 1;

    a {
      color: $jmWhiteColor !important;
      line-height: 24px;
    }
  }
  .back__arrow {
    background: url(../images/new__jm__images/arrow_back-white.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: left;
    margin: 20px 16px 0px 0px;
    position: relative;
    z-index: 2;
  }
  .jmarrow__right {
    background: url(../images/new__jm__images/keyboard_arrow_right-white.svg) 0
      0 no-repeat transparent;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: block;
    float: right;
  }
  .jmarrow__right:hover {
    background-color: $jmOceanBlueColor;
    opacity: 1;
  }
  .contact__container {
    display: flex !important;
    margin: 5px auto;
    padding: 20px 45px 10px;
    justify-content: space-between;
    align-items: center;

    .jm__contact {
      background: url(../images/new__jm__images/contact-icon_white.svg) 0 0
        no-repeat transparent;
      display: block;
      width: 24px;
      height: 24px;
      margin-left: 0px;
    }
    .contact__text {
      font-family: $jmMediumFont;
      font-size: 14px;
      line-height: 20px;
      color: $jmWhiteColor;
      margin-left: 10px;
      display: flex;
      text-align: center;
      justify-content: center;
      margin-bottom: 0px !important;
      margin-right: auto;
    }
    .contact__arrow {
      position: static;
    }
  }
  .nav__toggler {
    background: url(../images/new__jm__images/menu-icon.svg) 0 0 no-repeat
      transparent;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 19px;
    right: 18px;
  }
  .nav__toggler.active {
    background: url(../images/new__jm__images/close_menu_icon.svg) 0 0 no-repeat
      transparent;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: block;
    position: absolute;
    top: 19px;
    right: 18px;
  }
}
@media (min-width: 540px) and (max-width: 834px) {
  .mb__img {
		flex: 0 0 0;
		max-width: 100%;
	  display: block;
    img{
      width: 100%;
    }
  }
  .pad-tpbtm-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-left {
    height: 500px;
    width: 325px;
  }
  .img-right {
    height: 315px;
    width: 440px;
    float: right;
  }
  .jmheader__navbar {
    .jmheader__navlinks {
      padding: 0px 20px;
    }
  }
  .logo {
    margin-left: 20px;
  }
}
@media (min-width: 320px) and (max-width: 539.98px) {
  .socialmedia__list {
    padding: 14px 20px 11px 20px;
  }
  .icon-arrow--right {
    width: 20px !important;
    height: 20px !important;
    margin-left: 12px !important;
  }
  .centered {
    top: 15rem;
  }
  .dropdown__sec {
    border: 0;
  }
  .submit__btn {
    width: 100%;
    justify-content: flex-end;
    font-size: 16px;
  }
  .arrow__forward {
    background: url("../images/new__jm__images/arrow_forward-white-20.svg") 0 0
      no-repeat transparent;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 0px;
  }
  .mb__img {
		flex: 0 0 0;
		max-width: 100%;
	  display: block;
    img{
      width: 100%;
    }
  }
  .pad-tpbtm-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-left {
    height: 200px;
    width: 100%;
    padding: 15px;
  }
  .img-right {
    height: 200px;
    width: 100%;
    padding: 15px;
  }
  .jmheader__navbar {
    .jmheader__navlinks {
      padding: 0px 20px!important;
    }
  }
  .logo {
    margin-left: 20px;
  }
  .jmgeneral--hero {
    margin-top: 35px;
    .container{
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    .general_hero__heading{
      @include generateFont($jmMediumFont, 30px!important, 35px!important, $jmDarkCharcoalColor);
      padding-left: 0px;
      margin-left: 0!important;
    }
  }
  span[class^='btn--style']{
    min-width: 100%!important;
  }
}