.card__title{
    text-align: left;
    margin-bottom: 40px;
    padding-top: 60px;
    @include generateFont($jmMediumFont, 40px, 48px, $jmDarkCharcoalColor);
}
.categories__main{
    display: grid;
    grid-template-columns: repeat( 2, minmax(250px, 1fr) );
    gap: 24px;
}
.card__container{
    padding: 40px;
    background-color: $jmEgyptianBlueColor;
    margin-bottom: 24px;
    display: flex;
    height: 100%;
}
.montage__data{
	margin-bottom: 30px;
    .journal-content-article{
        height: 100%;
    }
    &:nth-child(even){
        padding-right: 0;
    }
    &:nth-child(odd){
        padding-left: 0;
    }
}
.card__contentlink{  
    text-decoration: none;
    height: 100% !important;
    position: relative;
    a{
        width: 100%;
        height: 100%;
        @include generatePosAbs(0, 0);
        z-index: 1;
    }
    &:hover{
        text-decoration: none !important;
        color: $jmWhiteColor;
    }
}
.card__content{
    flex-basis: 90%;
    margin-right: 40px;
    position: relative;
    width: calc(100% - 145px);
}
.card__img img{
    width: 100%;
    max-width: 190px !important;
    height: auto;
    min-width: 130px;
    min-height: 130px;
    max-height: 190px;
    background-color: $jmDimGrayColor;
	opacity: 0.3;
	flex-basis: 30%;
	border: 1px solid $jmDimGrayColor;
    object-fit: cover;
}
.card__heading{
    margin: 0;
    @include generateFont($jmMediumFont, 32px, 40px, $jmWhiteColor);
}
.card__description{
    margin: 20px 0px 0px 0px; 
    max-width: 350px;
    @include generateFont($jmFont, 16px, 20px, $jmWhiteColor, 0.84);
}
.card__subtext{
    display: flex;
    @include generatePosAbs(0, auto, 0);
    @include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor);
}
@media(max-width: 990px) {
    .card__title{
        margin-bottom: 16px;
        padding-top: 30px;
        border: none;
        @include generateFont($jmMediumFont, 24px, 48px);
    }
    .categories__main{
        grid-template-columns:  1fr;
    }  
    .card__container{
	    padding: 20px;
	} 
    .card__img img{
        width: 78px;
        height: 78px;
        border: 1px solid $jmDimGrayColor;
    } 
    .card__heading{
        margin-bottom: 12px;
        @include generateFont($jmMediumFont, 20px, 24px);
    } 
    .card__description{
    	margin-bottom: 42px;
        margin-top: 0px;
        @include generateFont($jmFont, 14px, 20px);
    } 
    .card__subtext{
        @include generateFont($jmMediumFont, 16px, 22px);
    } 
}
@media(min-width: 835px) {
    .card__contentlink{
		height: 100%;
	}
	.card__description{
	    margin-bottom: 40px;
	}
	.card__img img{
        width: 100%;
        height: auto;
        background-color: $jmDimGrayColor;
        opacity: 0.3;
        flex-basis: 30%;
        border: 1px solid $jmDimGrayColor;
        max-width: 190px;
        max-height: 190px;
	}
}
@media(min-width: 540px) and (max-width: 991.98px){
	.container{
		max-width: calc(100% - 40px);
	}
}
@media(min-width: 320px) and (max-width: 767.98px){
    .montage__data{
        padding-left: 0;
        padding-right: 0;
    }
}
