.jmpanelblock {
    margin-top: 20px;
    color: $jmWhiteColor;
    .jmpanelblock__header{
        h1, h2, h3, h4, h5, h6{
            text-shadow: $jmTextShadow1;
            margin: 0 0 10px;
            @include generateFont($jmMediumFont, 48px, 60px, $jmWhiteColor);
        }
    }
}
.jmpanelblock__row{
    background: $jmEgyptianBlueColor;
    margin-left: 0;
    margin-right: 0;
    .col-sm-12.col-md-6:nth-child(2){
        padding-left: 0;
    }
    .jm-panel.jmtext--panel-temp{
        padding: 0;
        .text-panel-matter{
            background: transparent;
        }
    }
    .text-panel-img {
        position: absolute;
        left: -15px;
        top: 0;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
