.jm-richtext-collapsed {
	display: flex;
	flex-wrap: wrap;
}
.jm-richtext-item-text {
	flex: 50%;
	padding: 2%;
	margin-top: 5%;
}
.jm-richtext-item-image {
	flex: 50%;
	padding: 2%;
}
.jm-richtext-heading {
	>p {
		text-align: left;
		@include generateFont($jmMediumFont, 38px, 46px, $jmDarkCharcoalColor);
	}
}
.jm-richtext-para {
	>p {
		text-align: left;
		@include generateFont($jmFont, 16px, 27px, $jmDarkCharcoalColor, 0.84);
	}
}
.jm-rt-image-block {
	@include generateBgSizePos;
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 100%;
	min-height: 300px;
}
.jm-text-slider {
	background-color: $jmEgyptianBlueColor;
	@include generatePosAbs(calc(100% - 3.75rem), 0);
	height: 100%;
	width: 100%;
	z-index: 2;
	animation: sneakPeak 2.5s cubic-bezier(0.35, 0.75, 0.38, 1.37);
}
.jm-product-info-container {
	color: $jmWhiteColor;
	padding: 30px 20px 30px 0;
	height: 100%;
	overflow: auto;
	p {
		text-align: left;
		@include generateFont($jmFont, 16px, false, $jmWhiteColor);
	}
	ol {
		>li {
			>menu {
				color: $jmWhiteColor;
			}
		}
	}
}
.jm-button-block-rctx {
	background-color: $jmEgyptianBlueColor;
	display: flex;
	flex-direction: column;
	width: 18%;
	padding: 2%;
	span {
		background-color: transparent;
		display: inline-block;
		text-transform: uppercase;
		transform: rotate(89deg) translateY(1.4rem) translateX(9.9375rem);
		text-align: left;
		@include generateFont($jmMediumFont, 18px, false, $jmWhiteColor, 0.8);
		&:after {
			content: "";
			color: $jmWhiteColor;
			font-weight: bold;
			float: right;
			margin-left: 5px;
			@include generateIcon(20px, 20px, "../images/new__jm__images/chevron-right-white.svg");
			background-size: 20px 20px;
			transform: rotate(90deg) translateY(4.625rem) translateX(-1.3rem);
		}
	}
}
.specifications--in {
	.jm-button-block-rctx {
		span {
			background-color: $jmEgyptianBlueColor;
			display: inline-block;
			text-transform: uppercase;
			transform: rotate(90deg) translateY(1.625rem) translateX(9.9375rem);
			@include generateFont($jmMediumFont, 18px, false, $jmWhiteColor);
			&:after {
				content: "";
				color: $jmWhiteColor;
				font-weight: bold;
				float: right;
				margin-left: 5px;
				@include generateIcon(20px, 20px, "../images/new__jm__images/chevron-right-white.svg");
				background-size: 20px 20px;
				transform: rotate(90deg) translateY(4.625rem) translateX(-1.3rem);
			}
		}
	}
	.jm-text-slider {
		background-color: $jmEgyptianBlueColor;
		height: 100%;
		width: 100%;
		z-index: 2;
		@include generatePosAbs(0, 0, auto, 0);
	}
}
.jm-rxtx-slider-btn-block {
	display: flex;
	height: 100%;
}
.jm-rt-ol-menulist {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	text-align: left;
	@include generateFont($jmFont, 16px, false, $jmWhiteColor, 0.8);
	>ul {
		>li {
			padding: 2%;
			margin: 2%;
			list-style-type: decimal;
			>a {
				color: $jmWhiteColor;
				text-decoration: none;
			}
		}
	}
}
.jm-rt-list-container {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jm-rt-li-item {
	background: transparent;
	padding: 5px;
	width: 105px;
	height: 25px;
	margin: 10px;
	text-align: left;
	@include generateFont($jmFont, 12px, 50px, $jmWhiteColor);
}
.rt-list-flex {
	@include repeatedDisplay;
}
@media screen and (max-width: 768px) {
	.jm-richtext-collapsed {
		padding: 2%;
	}
	.jm-richtext-item-text {
		flex: 100%;
	}
	.jm-richtext-item-image {
		flex: 100%;
	}
	.jm-richtext-heading {
		>p {
			font-size: 30px;
			line-height: 40px;
		}
	}
	.jm-richtext-para {
		>p {
			@include generateFont($jmFont, 14px, 20px);
		}
	}
	.jm-product-info-container {
		color: $jmWhiteColor;
		padding: 2%;
		margin-top: 5%;
		p {
			font-size: 12px;
		}
	}
	.jm-rt-ol-menulist {
		font-size: 12px;
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
		>ul {
			list-style-type: desimal;
			>li {
				padding: 2%;
				margin: 2%;
				>a {
					color: $jmWhiteColor;
					text-decoration: none;
				}
			}
		}
	}
	.jm-rt-list-container {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.jm-rt-li-item {
		background: transparent;
		padding: 5px;
		width: 105px;
		height: 25px;
		margin: 10px;
		text-align: left;
		@include generateFont($jmFont, 12px, 50px, $jmWhiteColor);
	}
	.rt-list-flex {
		@include repeatedDisplay;
	}
	.jm-button-block-rctx {
		width: 26%;
		padding: 2%;
		span {
			background-color: $jmEgyptianBlueColor;
			display: inline-block;
			text-transform: uppercase;
			transform: rotate(90deg) translateY(0.625rem) translateX(9.9375rem);
			text-align: left;
			@include generateFont($jmMediumFont, 16px, false, $jmWhiteColor, 0.8);
			&:after {
				transform: rotate(90deg) translateY(6.625rem) translateX(0.1rem);
			}
		}
	}
	.specifications--in {
		.jm-button-block-rctx {
			width: 26%;
			padding: 2%;
			span {
				font-size: 15px;
			}
		}
	}
}
@media screen and (min-width: 769px) and (max-width: 1100px) {
	.jm-richtext-item-text {
		flex: 100%;
	}
	.jm-richtext-item-image {
		flex: 100%;
	}
	.jm-button-block-rctx {
		span {
			background-color: $jmEgyptianBlueColor;
			display: inline-block;
			text-transform: uppercase;
			transform: rotate(89deg) translateY(2.625rem) translateX(12.9375rem);
			text-align: left;
			@include generateFont($jmMediumFont, 16px, false, $jmWhiteColor, 0.8);
			&:after {
				content: "";
				color: $jmWhiteColor;
				font-weight: bold;
				float: right;
				margin-left: 5px;
				@include generateIcon(20px, 20px, "./assets/chevron-right-white.svg");
				background-size: 20px 20px;
				transform: rotate(90deg) translateY(7.625rem) translateX(-0.0625rem);
			}
		}
	}
	.specifications--in {
		.jm-button-block-rctx {
			span {
				background-color: $jmEgyptianBlueColor;
				display: inline-block;
				text-transform: uppercase;
				transform: rotate(90deg) translateY(1.625rem) translateX(13.9375rem);
				@include generateFont($jmMediumFont, 20px, false, $jmWhiteColor);
				&:after {
					content: "";
					color: $jmWhiteColor;
					font-weight: bold;
					float: right;
					margin-left: 5px;
					@include generateIcon(20px, 20px, "./assets/chevron-right-white.svg");
					background-size: 20px 20px;
					transform: rotate(272deg) translateY(-7.375rem) translateX(-0.0625rem);
				}
			}
		}
	}
}