.jm-richtext-collapsed {
	display: flex;
	flex-wrap: wrap;
}
.jm-richtext-item-text {
	flex: 50%;
	padding: 2%;
	margin-top: 5%;
}
.jm-richtext-item-image {
	flex: 50%;
	padding: 2%;
}
.jm-richtext-heading {
	>p {
		font-size: 38px;
		line-height: 46px;
		text-align: left;
		letter-spacing: 0px;
		color: $jmDarkCharcoalColor;
		opacity: 1;
		font-family: $jmMediumFont;
	}
}
.jm-richtext-para {
	>p {
		font-size: 16px;
		line-height: 27px;
		text-align: left;
		letter-spacing: 0px;
		color: $jmDarkCharcoalColor;
		opacity: 0.84;
	}
}
.jm-rt-image-block {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 464px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.jm-text-slider {
	background-color: #1e22aa;
	position: absolute;
	height: 100%;
	z-index: 2;
	top: 0;
	width: 100%;
	z-index: 2;
	left: 0%;
	right: 0;
	animation: sneakPeak 2.5s cubic-bezier(0.35, 0.75, 0.38, 1.37);
	left: calc(100% - 3.75rem);
}
.jm-product-info-container {
	color: $jmWhiteColor;
	padding: 2%;
	p {
		font-size: 16px;
		text-align: left;
		letter-spacing: 0px;
		color: $jmWhiteColor;
		opacity: 0.8;
		font-family: $jmFont;
	}
	ol {
		>li {
			>menu {
				color: $jmWhiteColor;
			}
		}
	}
}
.jm-button-block-rctx {
	background-color: #1e22aa;
	display: flex;
	flex-direction: column;
	width: 18%;
	padding: 2%;
	span {
		background-color: #1e22aa;
		display: inline-block;
		text-transform: uppercase;
		font-size: 15px;
		font-family: $jmMediumFont;
		transform: rotate(89deg) translateY(1.4rem) translateX(9.9375rem);
		text-align: left;
		letter-spacing: 0px;
		color: $jmWhiteColor;
		opacity: 0.8;
		&:after {
			content: "";
			color: $jmWhiteColor;
			font-weight: bold;
			float: right;
			margin-left: 5px;
			background-image: url("http://localhost:8080/documents/20121/0/chevron-right-white.svg/a70d58b0-7d40-e723-7681-6d3cf8343242?t=1646987035028");
			background-repeat: no-repeat;
			background-size: 20px 20px;
			height: 20px;
			width: 20px;
			transform: rotate(90deg) translateY(4.625rem) translateX(-1.3rem);
		}
	}
}
.specifications--in {
	.jm-button-block-rctx {
		span {
			background-color: #1e22aa;
			color: $jmWhiteColor;
			display: inline-block;
			text-transform: uppercase;
			font-size: 18px;
			font-family: $jmMediumFont;
			transform: rotate(90deg) translateY(1.625rem) translateX(9.9375rem);
			&:after {
				content: "";
				color: $jmWhiteColor;
				font-weight: bold;
				float: right;
				margin-left: 5px;
				background-image: url("http://localhost:8080/documents/20121/0/chevron-right-white.svg/a70d58b0-7d40-e723-7681-6d3cf8343242?t=1646987035028");
				background-repeat: no-repeat;
				background-size: 20px 20px;
				height: 20px;
				width: 20px;
				transform: rotate(272deg) translateY(-6.375rem) translateX(0.1rem);
			}
		}
	}
	.jm-text-slider {
		background-color: #1e22aa;
		position: absolute;
		height: 100%;
		z-index: 2;
		top: 0;
		width: 100%;
		z-index: 2;
		left: 0%;
		right: 0;
	}
}
.jm-rxtx-slider-btn-block {
	display: flex;
}
.jm-rt-ol-menulist {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	font-size: 16px;
	text-align: left;
	letter-spacing: 0px;
	color: $jmWhiteColor;
	opacity: 0.8;
	font-family: $jmFont;
	>ul {
		>li {
			padding: 2%;
			margin: 2%;
			list-style-type: decimal;
			>a {
				color: $jmWhiteColor;
				text-decoration: none;
			}
		}
	}
}
.jm-rt-list-container {
	list-style: none;
	margin: 0;
	padding: 0;
}
.jm-rt-li-item {
	background: transparent;
	padding: 5px;
	width: 105px;
	height: 25px;
	margin: 10px;
	line-height: 50px;
	color:$jmWhiteColor;
	font-size: 12px;
	text-align: left;
}
.rt-list-flex {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	-webkit-flex-flow: none;
	justify-content: start;
}
@media screen and (max-width: 768px) {
	.jm-richtext-collapsed {
		padding: 2%;
	}
	.jm-richtext-item-text {
		flex: 100%;
	}
	.jm-richtext-item-image {
		flex: 100%;
	}
	.jm-richtext-heading {
		>p {
			font-size: 30px;
			line-height: 40px;
		}
	}
	.jm-richtext-para {
		>p {
			font-size: 14px;
			line-height: 20px;
			font-family: $jmFont;
		}
	}
	.jm-product-info-container {
		color: $jmWhiteColor;
		padding: 2%;
		margin-top: 5%;
		p {
			font-size: 12px;
		}
	}
	.jm-rt-ol-menulist {
		font-size: 12px;
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
		>ul {
			list-style-type: desimal;
			>li {
				padding: 2%;
				margin: 2%;
				>a {
					color: $jmWhiteColor;
					text-decoration: none;
				}
			}
		}
	}
	.jm-rt-list-container {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.jm-rt-li-item {
		background: transparent;
		padding: 5px;
		width: 105px;
		height: 25px;
		margin: 10px;
		line-height: 50px;
		color:$jmWhiteColor;
		font-size: 12px;
		text-align: left;
	}
	.rt-list-flex {
		padding: 0;
		margin: 0;
		list-style: none;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-flow: column;
		-webkit-flex-flow: row wrap;
		justify-content: start;
	}
	.jm-button-block-rctx {
		width: 26%;
		padding: 2%;
		span {
			font-size: 16px;
			background-color: #1e22aa;
			display: inline-block;
			text-transform: uppercase;
			font-size: 16px;
			font-family: $jmMediumFont;
			transform: rotate(90deg) translateY(0.625rem) translateX(9.9375rem);
			text-align: left;
			letter-spacing: 0px;
			color: $jmWhiteColor;
			opacity: 0.8;
			&:after {
				transform: rotate(90deg) translateY(6.625rem) translateX(0.1rem);
			}
		}
	}
	.specifications--in {
		.jm-button-block-rctx {
			width: 26%;
			padding: 2%;
			span {
				font-size: 15px;
			}
		}
	}
}
@media screen and (min-width: 769px) and (max-width: 1100px) {
	.jm-richtext-item-text {
		flex: 100%;
	}
	.jm-richtext-item-image {
		flex: 100%;
	}
	.jm-button-block-rctx {
		span {
			background-color: #1e22aa;
			display: inline-block;
			text-transform: uppercase;
			font-size: 16px;
			font-family: $jmMediumFont;
			transform: rotate(89deg) translateY(2.625rem) translateX(12.9375rem);
			text-align: left;
			letter-spacing: 0px;
			color: $jmWhiteColor;
			opacity: 0.8;
			&:after {
				content: "";
				color: $jmWhiteColor;
				font-weight: bold;
				float: right;
				margin-left: 5px;
				background-image: url(./assets/chevron-right-white.svg);
				background-repeat: no-repeat;
				background-size: 20px 20px;
				height: 20px;
				width: 20px;
				transform: rotate(90deg) translateY(7.625rem) translateX(-0.0625rem);
			}
		}
	}
	.specifications--in {
		.jm-button-block-rctx {
			span {
				background-color: #1e22aa;
				color: $jmWhiteColor;
				display: inline-block;
				text-transform: uppercase;
				font-size: 20px;
				font-family: $jmMediumFont;
				transform: rotate(90deg) translateY(1.625rem) translateX(13.9375rem);
				&:after {
					content: "";
					color: $jmWhiteColor;
					font-weight: bold;
					float: right;
					margin-left: 5px;
					background-image: url(./assets/chevron-right-white.svg);
					background-repeat: no-repeat;
					background-size: 20px 20px;
					height: 20px;
					width: 20px;
					transform: rotate(272deg) translateY(-7.375rem) translateX(-0.0625rem);
				}
			}
		}
	}
}
