.product_hero {
    margin-top: 100px;
    .product_hero__heading{
        margin-bottom: 40px;
        @include generateFont($jmMediumFont, 36px, 40px, $jmDarkCharcoalColor);
    }
    .product_hero__para p{
        margin-bottom: 20px;
        @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor, 0.84);
    }
    img{
        position: static;
    }
    .row{
        align-items: center;
    }
}

.jmproduct--hero-temp {
    margin-bottom: 70px;
	.product_hero__para {
        @include generateFont($jmFont, 18px, 28px);
		p {
			margin-bottom: 1rem;
		}
	}
	.jmcol-for-alignment {
		padding-left: 15px;
		padding-right: 15px;
	}
    .person-heading_align {
        @include generateFont($jmMediumFont, 36px, 32px, $jmDarkCharcoalColor);
        padding-left: 60px;
        margin-left: 0;
    }
    .person-grid .person_card{
        border: none;
        padding: 0;
    }
    .two-person-grid{
        margin-top: 0px;
        padding: 60px!important;
    }
    .person_card img{
        border-radius: 0;
        position: static;
    }
    h4.person_card-title{
        padding: 15px 0;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
    }
    h6.person_card-text{
        color: $jmDarkCharcoalColor;
        opacity: 0.8;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    h6.person_card-number{
        color: $jmDarkCharcoalColor;
        opacity: 0.8;
        margin-bottom: 0;
        padding: 0 0 30px;
    }
    .btn__person{
        padding: 0 10px;
    }
    .person_explore-icon{
        margin-left: 10px;
    }
    .btn-person_link{
        display: flex;
        justify-content: right;
        align-items: center;
        @include generateFont($jmMediumFont!important, 18px!important, 22px!important);
    }
    .two-person-grid{
        padding: 0;
    }
    h3.cta_inner_header{
        @include generateFont($jmMediumFont, 36px, 32px, $jmDarkCharcoalColor);
    }
    p.cta_inner_text{
        margin: 30px 0 20px;
        @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor, 0.84);
    }
    .container {
		.col-md-5 {
			>img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
