.product_hero {
    margin-top: 100px;
    .product_hero__heading{
        margin-bottom: 40px;
        @include generateFont($jmMediumFont, 36px, 56px, $jmDarkCharcoalColor);
    }
    .product_hero__para p{
        margin-bottom: 20px;
        @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor, 0.84);
    }
    ul li{
        @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor, 0.84);
        list-style: disc;
    }
    img{
        position: static;
    }
    .row{
        align-items: center;
    }
}

.jmproduct--hero-temp {
    margin-bottom: 70px;
    margin-top: 70px;
    .panel__btnlist{
        display: flex;
        flex-direction: column;
        width: auto;
        min-width: 320px;
        max-width: 410px;
        @media (max-width: 834px) {
            width: calc(100% - 40px);
            margin-left: 20px;
            min-width: 280px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product--heroimgspecification{
        width: calc(100% - 3.75em);
    }
    .product_hero__heading{
        margin-bottom: 20px;
        @include generateFont($jmMediumFont, 52px, 40px, $jmDarkCharcoalColor);
    }
	.product_hero__para {
        @include generateFont($jmFont, 18px, 28px);
		p {
			margin-bottom: 20px;
            @include generateFont($jmFont, 18px, 28px);
		}
	}
    ul{
        margin-left: 30px;
        li{
            @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor, 0.84);
            list-style: disc;
            margin-bottom: 20px;
        }
    } 
    .specifications--in ul li{
        color: $jmWhiteColor;
    }
	.jmcol-for-alignment {
		padding-left: 15px;
		padding-right: 15px;
	}
    .person-heading_align {
        @include generateFont($jmMediumFont, 36px, 32px, $jmDarkCharcoalColor);
        padding-left: 60px;
        margin-left: 0;
    }
    .person-grid .person_card{
        border: none;
        padding: 0;
    }
    .two-person-grid{
        margin-top: 0px;
        padding: 60px!important;
    }
    .person_card img{
        border-radius: 0;
        position: static;
    }
    h4.person_card-title{
        padding: 15px 0;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
    }
    h6.person_card-text{
        color: $jmDarkCharcoalColor;
        opacity: 0.8;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    h6.person_card-number{
        color: $jmDarkCharcoalColor;
        opacity: 0.8;
        margin-bottom: 0;
        padding: 0 0 30px;
    }
    .btn__person{
        padding: 0 10px;
    }
    .person_explore-icon{
        margin-left: 10px;
    }
    .btn-person_link{
        display: flex;
        justify-content: right;
        align-items: center;
        @include generateFont($jmMediumFont!important, 18px!important, 22px!important);
    }
    .two-person-grid{
        padding: 0;
    }
    h3.cta_inner_header{
        @include generateFont($jmMediumFont, 36px, 32px, $jmDarkCharcoalColor);
    }
    p.cta_inner_text{
        margin: 30px 0 20px;
        @include generateFont($jmFont, 18px, 27px, $jmDarkCharcoalColor, 0.84);
    }
    .container {
		.col-md-5 {
			>img {
				width: 100%;
				height: 100%;
			}
            .jm-richtext-item-image{
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 0;
            }
		}
	}
    .product--heroimgspec{
        min-height: 690px;
    }
}
.jm-text-slider.jm-text-spec-without-image {
    left: 0;
    position: static;
    height: auto;
}
.jm-text-slider.jm-text-spec-without-image .jm-product-info-container {
    padding-left: 30px;
}
.jmproduct--hero-temp .product_hero__heading{
    line-height: 56px;
}
