.rich-text-img__container_fluid {
  background-color: $jmAntiFlashWhiteColor;
  max-width: 100%;
  padding: 100px 150px;
}
.rich-text-img__container_fluid1 {
  max-width: 100%;
  padding: 80px 150px;
}
.card-text h2 {
  text-transform: capitalize;
  @include generateFont($jmMediumFont, 24px, false, $jmGraniteGrayColor);
}
.card-block h2 {
  text-transform: capitalize;
  @include generateFont($jmMediumFont, 26px, false, $jmGraniteGrayColor);
}
h4.rich-text_title {
  padding: 15px 0px;
  margin-left: -15px;
  @include generateFont($jmMediumFont, 40px, false, $jmDarkCharcoalColor);
}
.card-block h2 {
  text-transform: capitalize;
  @include generateFont($jmMediumFont, 24px, false, $jmGraniteGrayColor);
}
.card-block p {
  @include generateFont($jmFont, 16px, false, $jmDarkCharcoalColor, 0.84);
}
@media (min-width: 320px) and (max-width: 539px) {
  .rich-text-img__container_fluid {
    max-width: 100%;
    padding: 20px 20px;
  }
  h4.rich-text_title {
    padding: 0px 15px;
    margin-left: -15px;
    @include generateFont($jmMediumFont, 28px, false, $jmDarkCharcoalColor, 0.84);
  }
  .card-block h2 {
    font-size: 20px !important;
  }
  .rich-text-img__container_fluid1 {
    max-width: 100%;
    padding: 20px 20px;
  }
}
@media (min-width: 540px) and (max-width: 834px) {
  .rich-text-img__container_fluid {
    background-color: $jmAntiFlashWhiteColor;
    max-width: 100%;
    padding: 30px 50px;
  }
  .card-block h2 {
    font-size: 22px;
  }
  h4.rich-text_title {
    padding: 15px 0px;
    margin-left: -15px;
    @include generateFont($jmMediumFont, 35px, false, $jmDarkCharcoalColor);
  }  
  .rich-text-img__container_fluid1 {
    max-width: 100%;
    padding: 30px 50px;
  }
}
@media (min-width: 835px) and (max-width: 1024px) {
  .rich-text-img__container_fluid {
    background-color: $jmAntiFlashWhiteColor;
    max-width: 100%;
    padding: 30px 50px;
  }
  .rich-text-img__container_fluid1 {
    max-width: 100%;
    padding: 30px 50px;
  }
}
