.jmrich--text-inner {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 20px !important;
		@include generateFont($jmMediumFont, 34px, false, $jmEgyptianBlueColor);
		span{
			@include generateFont($jmMediumFont, 34px, false, $jmEgyptianBlueColor!important);	
		}
	}
	span{
	    @include generateFont($jmFont, 18px, 25px, $jmDarkCharcoalColor);
		strong{
			@include generateFont($jmMediumFont, 18px, 25px, $jmDarkCharcoalColor);
		}
	}
	p {
		padding-bottom: 10px !important;
		@include generateFont($jmFont, 18px, 25px, $jmDarkCharcoalColor);
		a {
			color: $jmEgyptianBlueColor!important;
			text-decoration: revert;
			position: relative;
			span[class^='btn--style']{
				background-color: $jmEgyptianBlueColor;
				min-width: 380px;
				border: none;
				outline: none;
				padding: 20px 10px 17px 24px;
				justify-content: flex-end;
				text-align: right;
				text-transform: uppercase;
				margin-bottom: 30px;
				text-decoration: none !important;
				@include generateFont($jmMediumFont, 18px, 22px, $jmWhiteColor!important);
				display: inline-flex;
				&:hover {
					text-decoration: none;
					color: $jmWhiteColor;
				}
			}
		}
	}
	ul, ol {
		padding-bottom: 10px;
		margin-left: 50px!important;
		margin-bottom: 0;
		padding-left: 0!important;
		li {
			padding: 10px 0px;
			list-style: revert;
			@include generateFont($jmFont, 18px, 25px, $jmDarkCharcoalColor);
		}
	}
	img{
		width: 100%;
	}
}
@media (max-width: 575.98px){
	.jmrich--text-inner {
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 8px;
			@include generateFont($jmMediumFont, 22px, false, $jmEgyptianBlueColor);
		}
		span{
			@include generateFont($jmFont, 16px, 20px, $jmDarkCharcoalColor);
			strong{
				@include generateFont($jmMediumFont, 16px, 20px, $jmDarkCharcoalColor);
			}
		}
		p {
			padding-bottom: 5px;
			@include generateFont($jmFont, 16px, 20px, $jmDarkCharcoalColor);
			a {
				color: $jmEgyptianBlueColor;
				text-decoration: revert;
			}
		}
		ul {
			padding-bottom: 5px;
			margin-left: 25px;
			li {
				padding: 5px 0px;
				@include generateFont($jmFont, 16px, 20px, $jmDarkCharcoalColor);
			}
		}
	}	
}