.search-hero {
	.service__sec {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.service__pretitle {
		text-align: left;
		font-size: 18px;
		font-family: $jmMediumFont;
		line-height: 28px;
		letter-spacing: 0px;
		color: $jmWhiteColor;
		text-shadow: $jmTextShadow1;
		opacity: 0.8;
		margin: 0;
	}

	.service__heading {
		text-align: left;
		font-size: 48px;
		font-family: $jmFont;
		line-height: 60px;
		letter-spacing: 0px;
		color: $jmWhiteColor;
		text-shadow: $jmTextShadow1;
		opacity: 1;
		margin: 0;
		margin-top: 16px;
		margin-bottom: 24px;
	}

	.service__input__sec {
		width: 100%;
		display: flex;
	}

	.service__input {
		outline: none;
		border: none;
		width: 100%;

		.portlet {
			margin-bottom: 0px !important;

			.portlet-header {
				display: none !important;
			}
		}
	}

	.arrow__forward {
		background: url("../images/new__jm__images/arrow_forward-white.svg") 0 0
			no-repeat transparent;
		display: block;
		width: 24px;
		height: 24px;
		margin-left: 8px;
		top: 50%;
		margin-top: -2px;
	}

	.submit__btn {
		display: flex;
		outline: none;
		border: none;
		background-color: #1e22aa;
		color: $jmWhiteColor;
		width: 193px;
		padding: 16px 10px 14px 34px;
		text-align: right;
		font-size: 18px;
		font-family: $jmMediumFont;
		line-height: 22px;
		letter-spacing: 0px;
		color: $jmWhiteColor;
		text-transform: uppercase;
		opacity: 1;
		justify-content: right;
	}

	.input-group-item {
		left: unset !important;
		right: unset !important;
		top: unset !important;

		.input-group-inset-item-after {
			display: none !important;
		}
		.search-bar-keywords-input {
			outline: none !important;
			border: none !important;
			width: 100% !important;
			display: flex;
			margin: 10px;
		}
		.search-bar-keywords-input::placeholder {
			text-align: left;
			font-size: 18px;
			font-family: $jmMediumFont;
			line-height: 28px;
			letter-spacing: 0px;
			color: $jmDarkCharcoalColorOpc5;
			opacity: 0.8;
		}
	}

	@media (max-width: 320px) {
		.link__lists li a {
			font-size: 12px;
		}
		.dept__sec {
			width: 264px !important;
		}
	}
	@media (min-width: 320px) and (max-width: 640px) {
		.service__pretitle {
			font-size: 14px;
			line-height: 22px;
		}
		.service__heading {
			font-size: 32px;
			line-height: 30px;
			margin-top: 20px;
			margin-bottom: 42px;
		}
		.submit__btn {
			width: 118px;
			padding: 16px 10px 14px 10px;
			font-size: 16px;
		}
		.arrow__forward {
			background: url("../images/new__jm__images/arrow_forward-white-20.svg") 0 0
				no-repeat transparent;
			display: block;
			width: 20px;
			height: 20px;
			margin-top: 0px;
		}
		.service__input::placeholder {
			font-size: 15px;
		}
	}
	@media (min-width: 540px) and (max-width: 834px) {
		.service__input::placeholder {
			font-size: 14px;
		}
		.service__heading {
			font-size: 38px;
			line-height: 30px;
		}
	}
}
