.search-hero {
	.service__sec {
		position: relative;
		display: inline-block;
		width: 100%;
	}
	.service__pretitle {
		text-align: left;
		text-shadow: $jmTextShadow1;
		margin: 0;
		@include generateFont($jmMediumFont, 18px, 28px, $jmWhiteColor);
	}
	.service__heading {
		text-align: left;
		text-shadow: $jmTextShadow1;
		margin-top: 16px;
		margin-bottom: 24px;
		@include generateFont($jmFont, 48px, 60px, $jmWhiteColor);
	}
	.service__input__sec {
		width: 100%;
		display: flex;
	}
	.service__input {
		outline: none;
		border: none;
		width: 100%;
		.portlet {
			margin-bottom: 0px !important;
			.portlet-header {
				display: none !important;
			}
		}
	}
	.submit__btn {
		width: 193px;
	}
	.input-group-item {
		left: unset !important;
		right: unset !important;
		top: unset !important;
		.input-group-inset-item-after {
			display: none !important;
		}
		.search-bar-keywords-input {
			outline: none !important;
			border: none !important;
			width: 100% !important;
			display: flex;
			margin: 10px;
			&::placeholder {
				text-align: left;
				@include generateFont($jmMediumFont, 18px, 28px, $jmDarkCharcoalColorOpc5, 0.8);
			}
		}
	}
	@media (max-width: 320px) {
		.link__lists li a {
			font-size: 12px;
		}
		.dept__sec {
			width: 264px !important;
		}
	}
	@media (min-width: 320px) and (max-width: 640px) {
		.service__pretitle {
			font-size: 14px;
			line-height: 22px;
		}
		.service__heading {
			font-size: 32px;
			line-height: 30px;
			margin-top: 20px;
			margin-bottom: 42px;
		}
		.submit__btn {
			width: 118px;
			padding: 16px 10px 14px 10px;
			font-size: 16px;
		}
		.service__input::placeholder {
			font-size: 15px;
		}
	}
	@media (min-width: 540px) and (max-width: 834px) {
		.service__input::placeholder {
			font-size: 14px;
		}
		.service__heading {
			font-size: 38px;
			line-height: 30px;
		}
	}
}
