.search__filters {
	margin: 40px auto;
	justify-content: space-between;
	.explore__leftinner {
		width: 100%;
	}
	.explore__filters {
		text-decoration: none;
		border: none;
		border-radius: 20px;
		margin-top: 10px;
		outline: none;
		padding: 10px 15px;
		background: $jmEgyptianBlueColorOpc12;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 5px;
		@include generateFont($jmMediumFont, 20px, 26px, $jmEgyptianBlueColor);
	}
	.explore__filterselectedtext {
		width: calc(100% - 34px);
		word-wrap: break-word;
		word-break: break-word;
	}
	.explore__filtertext {
		padding-bottom: 15px;
		border-bottom: 1px solid $jmBlackColorOpc1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
    	margin-bottom: 0;
		@include generateFont($jmFont, 20px, 32px, $jmDarkGrayColor);
	}
	.explore__applications {
		padding: 15px;
		border-bottom: solid 1px $jmBlackColorOpc1;
		max-height: 500px;
		overflow: auto;
	}
	.explore__applications:last-child {
		border-bottom: none;
	}
	.explore__apptext {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		@include generateFont($jmMediumFont, 20px, 32px, $jmGraniteGrayColor);
		margin-bottom: 0;
	}
	.explore__checkbox {
		@include generatePosAbs(0, 0);
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		opacity: 0;
		z-index: 1;
		cursor: pointer;
		margin: 0 !important;
	}
	.explore__checkboxcont {
		display: flex;
		align-items: center;
		margin-top: 10px;
		position: relative;
	}
	.explore__checkboxcont:first-child {
		margin-top: 20px;
	}
	.explore__label {
		margin-left: 35px;
   		margin-bottom: 0;
		word-break: break-all;
		@include generateFont($jmMediumFont, 16px, 26px, $jmDarkGrayColor!important);
	}
	.jmicon {
		width: 24px;
		height: 24px;
	}
	.jmicon--close {
		background: url(../images/new__jm__images/close_icon.svg) transparent;
		float: right;
		background-size: contain;
		margin-left: 10px;
	}
	.explore__checkboxlabel, .explore__radiolabel {
		@include generateIcon(24px, 24px, $checkboxInputDataUri);
		@include generatePosAbs(0, 2px);
		background-size: cover;
	}
	.explore__radiolabel {
		background: none;
		border: 2px solid $jmEgyptianBlueColor;
		border-radius: 50%;
		width: 18px;
		height: 18px;
		margin: 3px;
	}
	.explore__checkbox:checked + label {
		background: url($checkboxInputCheckedDataUri) no-repeat center center
			transparent;
		background-size: cover;
	}
	input[type='radio'].explore__checkbox:checked + label {
		width: 21px;
		height: 21px;
		margin: 1.5px;
		border: none;
		border-radius: 0;
		background: url($radioInputCheckedDataUri) no-repeat center center
		transparent;
		background-size: cover;
	}
	.explore__checkbox:checked + label + label {
		color: $jmEgyptianBlueColor;
	}
	.explore__arrowicon {
		@include generateIcon(24px, 24px, "../images/new__jm__images/arrow_downward.svg");
		background-size: cover;
	}
	.explore__filtercategory {
		width: calc(100% - 45px);
	}
	.explore__expanded .explore__apptext .explore__arrowicon {
		transform: rotate(180deg);
	}
	.explore__accordian {
		display: none;
	}
	.explore__expanded .explore__accordian {
		display: block;
	}
	.explore__filterback {
		@include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward_white.svg");
		margin-right: 20px;
		display: none;
		transform: rotate(180deg);
	}
	.explore__filterclear {
		margin-left: auto;
		display: none;
	}
	.explore__selectedfilter {
		border-bottom: solid 1px $jmBlackColorOpc1;
		padding: 15px 0 20px;
	}
	/**media query for mobile **/
	@media (min-width: 320px) and (max-width: 834px) {
		.explore__left {
			position: fixed;
			z-index: 9;
			width: 100%;
			background: $jmWhiteColor;
			height: 100%;
			padding-top: 60px;
			left: 0;
			top: 0;
			display: none;
		}
		.explore {
			width: calc(100% - 30px);
			margin: 20px auto;
		}
		.explore__filtertext {
			padding: 15px 20px;
			background: $jmEgyptianBlueColor;
			@include generateFont($jmMediumFont, 16px, false, $jmWhiteColor);
		}
		.explore__filterback,
		.explore__filterclear {
			display: block;
		}
		.explore__filters,
		.explore__arrowicon,
		.explore__selectedfilter {
			display: none !important;
		}
		.explore__filteroptions {
			padding-bottom: 0;
		}
		.explore__filtertext {
			margin-bottom: 0;
			border-bottom: 0;
		}
		.explore__applications {
			padding: 15px 20px;
			width: 120px;
			background: $jmAntiFlashWhiteColor;
		}
		.explore__apptext {
			font: 14px/18px $jmFont;
			width: 120px;
		}
		.explore__accordian {
			@include generatePosAbs(120px, 118px);
			width: calc(100% - 120px);
			height: calc(100% - 118px);
			border-left: solid 1px $jmBlackColorOpc1;
			padding-left: 10px;
			overflow: auto;
		}
		.explore__checkboxcont:first-child {
			margin-top: 15px;
		}
		.explore__label {
			@include generateFont($jmFont, 14px, 16px);
		}
		.explore__expanded.explore__applications {
			background: $jmWhiteColor;
			overflow: hidden;
		}
		.explore__checkboxlabel {
			top: 50%;
			margin-top: -12px;
		}
		&.search--sort .explore__left{
			display: none!important;
		}
	}
	@media (min-width: 835px) {
		.explore__left {
			display: block !important;
		}
	}
}
.search--locations.search__filters {
	margin: 40px auto 0;
	.explore__applications:last-child {
		border-bottom: solid 1px $jmBlackColorOpc1;	
	}
}