.search__results {
	margin: 40px auto;
	justify-content: space-between;
	.explore__right {
		margin-left: auto;
	}
	.explore__rightinner {
		width: 100%;
	}
	.explore__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		margin-left: 25px;
		@include generateFont($jmMediumFont, 32px, 45px, $jmDarkCharcoalColor);
	}
	.explore__boxes {
		padding: 40px 25px;
		position: relative;
	}
	.explore__boxes::after {
		width: calc(100% - 25px);
		height: 1px;
		content: "";
		background: $jmBlackColorOpc1;
		z-index: 6;
		@include generatePosAbs(25px, auto, 0);
	}
	.explore__boxes:last-child::after {
		display: none;
	}
	.explore__boxhead {
		margin-bottom: 15px;
		@include generateFont($jmFont, 28px, 40px, $jmDarkCharcoalColor);
	}
	.explore__text {
		max-width: 600px;
		@include generateFont($jmFont, 16px, 20px, $jmDarkCharcoalColor, 0.7);
	}
	.explore__boxes:nth-child(even) {
		background-color: $jmAntiFlashWhiteColor;
	}
	.explore__link {
		@include generatePosAbs(auto, auto, 20px, 20px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include generateFont($jmMediumFont, 18px, 22px, $jmEgyptianBlueColor);
	}
	.explore__icon {
		margin-left: 10px;
		@include generateIcon(24px, 24px, "../images/new__jm__images/arrow_forward.svg");
		display: inline-block;
	}
	.explore__filtericon {
		@include generateIcon(16px, 16px, "../images/new__jm__images/filter_icon.svg");
		background-size: cover;
		display: none;
	}
	.explore__link:hover {
		text-decoration: none;
		opacity: 0.7;
	}
	.explore__download-list-cont{
		display: flex;
		justify-content: space-between;
		.explore__download-list {
			background: $jmEgyptianBlueColor;
			padding: 15px 20px;
			color: $jmWhiteColor;
			width: calc((100% - 40px) / 3);
			margin-bottom: 20px;
			cursor: pointer;
			.download-title{
				@include generateFont($jmMediumFont, 20px, 32px, $jmWhiteColor);
				margin-bottom: 20px;
			}
			.download-detail{
				@include generateFont($jmFont, 16px, 26px, $jmWhiteColor);
			}
		}
	}
	/**media query for mobile **/
	@media (min-width: 320px) and (max-width: 834px) {
		.explore__filtericon{
			display: block;
		}
		.explore__right {
			width: 100%;
		}
		.explore {
			width: calc(100% - 30px);
			margin: 20px auto;
		}
		.explore__heading {
			margin: 0 15px;
			font-size: 24px;
			line-height: 24px;
			border-bottom: solid 1px $jmBlackColorOpc1;
			padding-bottom: 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.explore__boxes {
			padding: 20px 15px;
		}
		.explore__boxhead {
			font-size: 22px;
			line-height: 28px;
			max-width: calc(100% - 45px);
			margin-bottom: 10px;
		}
		.explore__link {
			font-size: 0;
		}
		.explore__text {
			max-width: calc(100% - 45px);
			font-size: 14px;
		}
		.explore__boxes::after {
			width: calc(100% - 30px);
			left: 15px;
		}
	}
	@media (min-width: 835px) and (max-width: 1208px) {
		.explore__text {
			max-width: 70%;
		}
	}
}
@media (min-width: 320px) and (max-width: 834px) {
	.search__mob-view [class^='col'] {
		width: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}