.jmstatistic--panel-temp {
	&.jm-panel {
		background-color: $jmEgyptianBlueColor;
		color:$jmWhiteColor;
		padding: 20px;
		min-height: 112px;
	}
	.jm-panel-title {
		text-align: left;
		text-transform: lowercase;
		@include generateFont($jmMediumFont, 34px, 32px, $jmWhiteColor);
	}
	.jm-panel-subtitle {
		margin-top: 8px;
		@include generateFont($jmFont, 17px, 32px);
	}
}