.jmtext--panel-temp {
	.text-panel-matter {
		background-color: #1e22aa;
		color: $jmWhiteColor;
		padding: 20px 0 20px;
	}
	.text-panel-link {
		float: right;
		position: absolute;
		right: 40px;
		bottom: 37px;
	}
	.text-panel-title {
		margin-bottom: 10px;
		font-family: $jmMediumFont;
		font-size: 16px;
		line-height: 21px;
	}
	.text-panel-body {
		.title-style-a {
			font-size: 34px;
			font-family: $jmMediumFont;
			line-height: 32px;
			color: $jmWhiteColor;
		}
		p {
			margin-top: 10px;
			font-family: $jmMediumFont;
			font-size: 16px;
			line-height: 21px;
		}
	}
}
