.jmtext--panel-temp {
  padding: 0 5% 0 5%;
  .text-panel-matter {
    background-color: $jmEgyptianBlueColor;
    color: $jmWhiteColor;
    padding: 20px 0 20px;
  }
  .text-panel-link {
    float: right;
    @include generatePosAbs(auto, auto, 37px, 40px);
  }
  .text-panel-title {
    margin-bottom: 10px;
    @include generateFont($jmMediumFont, 24px, 32px);
  }
  .text-panel-body {
    .title-style-a {
      @include generateFont($jmMediumFont, 34px, 32px, $jmWhiteColor);
    }
    h1, h2, h3, h4, h5, h6, p, ul li, ol li {
      margin-top: 10px;
      @include generateFont($jmFont, 18px, 27px);
    }
  }
}
