.jmtwo--person-temp {
    .two-persons-block_container {
        padding: 0rem 5rem;
    }
    .person-grid {
        .person_card {
            width: 100%;
            border: none;
            padding: 0;
        }
    }
    .two-person-grid{
        display: grid;
        grid-template-columns: repeat(3, minmax(calc(33.3% - 60px), 1fr));
        margin-top: 0px;
        padding: 60px 0!important;
        gap: 20px;
    }
    h4.person_card-title {
        padding: 15px 0;
        margin-bottom: 0;
        @include generateFont($jmMediumFont, 20px, 20px, $jmDarkCharcoalColor);
    }
    h6.person_card-text {
        text-align: left;
        @include generateFont($jmMediumFont, 14px, false, $jmDarkCharcoalColor, 0.8);
        padding: 0px 0px 15px;
        margin-bottom: 0px;
    }
    h6.person_card-number{
        color: $jmDarkCharcoalColor;
        opacity: 0.8;
        margin-bottom: 0;
        padding: 0 0 30px;
    }
    .btn__person{
        padding: 0 10px;
        @include generatePosAbs(0, auto, 0, auto);
    }
    .person_explore-icon{
        margin-left: 10px;
    }
    .btn-person_link{
        display: flex;
        justify-content: right;
        align-items: center;
        @include generateFont($jmMediumFont!important, 18px!important, 22px!important);
    }
    .person-heading_align {
        padding-left: 0px;
        margin-left: 0;
        @include generateFont($jmMediumFont, 36px, 32px, $jmDarkCharcoalColor);
    }
    .person_card img{
        border-radius: 0;
        position: static;
        height: auto;
    }
    @media (max-width: 575.98px) {
        .two-person-grid{
            display: grid;
            grid-template-columns: repeat(1, minmax(100%, 1fr));
            gap: 0px;
            margin-top: 10px;
            padding: 0rem 0.5rem 0rem 0.5rem;
        }
        .person_card {
            padding: 10px 5px;
        }
        img.card-img-top.person_img {
            height: 55px;
            max-width: 65px !important;
            float: left;
            margin: 10px 20px 20px 0px;
        }
        h4.person_card-title {
            font-size: 18px;
            padding: 0px 0px 0px 0px;
        }
        h6.person_card-number {
            font-size: 14px;
            padding: 0px 0px;
        }
        .btn__person {
            height: 45px;
            padding: 0px 0px;
            position: static;
        }
        .person_explore-icon {
            float: right;
            margin: 0px 15px;
        }
        .btn-person_link {
            color: $jmWhiteColor;
            float: right;
            font-size: 16px;
            text-decoration: none;
            font-family: $jmFont;
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .two-person-grid{
            display: grid;
            grid-template-columns: repeat(1, minmax(100%, 1fr));
            gap: 0px;
            margin-top: 10px;
            padding: 0rem 0.5rem 0rem 0.5rem;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .two-person-grid {
            padding: 0rem 1rem 0rem 1rem;
        }
        .person_card {
            padding: 10px;
        }
        h6.person_card-number {
            font-size: 14px;
            padding: 2px 0px 12px 0px;
        }
        .btn__person {
            height: 45px;
            padding: 0px 15px;
        }
        .btn-person_link {
            color: $jmWhiteColor;
            font-size: 16px;
            text-decoration: none;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .two-person-grid {
            padding: 0rem 4rem 0rem 4rem;
        }
        .btn__person {
            padding: 0px 40px;
        }
        .person_card {
            padding: 15px;
        }
    }
    @media (min-width: 320px) and (max-width: 767.98px) {
        &.container{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
