
:root{
--jmEgyptianBlue-color: #1E22AA;
--jmCrayola-color: #C8C8E9;
--jmWhite-color: #FFFFFF;
--jmOceanBlue-color: #4347B9;
--jmGraniteGray-color: #666666;
--jmDarkCharcoal-color: #333333;
--white-color: #ffffff;
--black-color: #000000;
--filter-select-text-color: #1E22AA;
--filter-heading-color: #999999;
--filter-category-color: #666666;
--result-heading-color: #333333;
--box-bg-color: #F2F2F2;
--explore-border-color: rgba(0, 0, 0, 0.1);
--jm-font: JMSansRegular, Helvetica, Arial, Verdana, Tahoma,sans-serif;
--jm-medium-font: JMSansMedium, Helvetica, Arial, Verdana, Tahoma,sans-serif;
--jm-bold-font: JMSansBold, Helvetica, Arial, Verdana, Tahoma,sans-serif;
}

$jmDarkCharcoalColor: #333333;
$jmWhiteColor: #FFFFFF;
$jmEgyptianBlueColor: #1E22AA;
$jmCrayolaColor: #C8C8E9;
$jmOceanBlueColor: #4347B9;
$jmGraniteGrayColor: #666666;
$jmAntiFlashWhiteColor: #F2F2F2;