$jmDarkCharcoalColor: #333333;
$jmDarkCharcoalColorOpc5: rgba(51, 51, 51, 0.5);
$jmDarkCharcoalColorOpc8: rgba(51, 51, 51, 0.8);
$jmWhiteColor: #ffffff;
$jmWhiteColorOpc2: rgba(255, 255, 255, 0.2);
$jmWhiteColorOpc9: rgba(255, 255, 255, 0.9);
$jmBlackColor: #000000;
$jmBlackColorOpc1: rgba(0, 0, 0, 0.1);
$jmBlackColorOpc5: rgba(0, 0, 0, 0.5);
$jmBlackColorOpc12: rgba(0, 0, 0, 0.12);
$jmEgyptianBlueColor: #1E22AA;
$jmEgyptianBlueColorOpc12: rgba(30, 34, 170, 0.12);
$jmCrayolaColor: #C8C8E9;
$jmOceanBlueColor: #4347B9;
$jmGraniteGrayColor: #666666;
$jmGraniteGrayColorOpc6: rgba(102, 102, 102, 0.6);
$jmGraniteGrayColorOpc9: rgba(102, 102, 102, 0.9);
$jmLightGrayColor: #cccccc;
$jmLightGrayColorOpc3: rgba(204, 204, 204, 0.3);
$jmDarkGrayColor: #999999;
$jmDimGrayColor: #707070;
$jmNavyBlueColor: #0062cc;
$jmAntiFlashWhiteColor: #F2F2F2;
$jmLightShadeWhiteColor: #fafafa;
$jmLochmaraColor: #2e6da4;
$jmDavyGrayColor: #555555;
$jmMercuryColor: #e5e5e5;
$jmTextShadow1: 0px 0px 8px #000000;
$jmTextShadow2: 0px 0px 6px #000000;
$jmBoxShadow1: 0px 4px 4px rgba(0, 0, 0, 0.5);
$jmBoxShadow2: 0 5px 20px rgba(0, 0, 0, 0.05);
$jmRedColor: #E10000;
$jmFont: JMSansRegular, Helvetica, Arial, Verdana, Tahoma,sans-serif;
$jmMediumFont: JMSansMedium, Helvetica, Arial, Verdana, Tahoma,sans-serif;
$jmBoldFont: JMSansBold, Helvetica, Arial, Verdana, Tahoma,sans-serif;
$jmBlackFont: JMSansBlack, Helvetica, Arial, Verdana, Tahoma,sans-serif;
$jmOverallContentMaxWidth: 1440px;
$radioInputCheckedDataUri: "data:image/svg+xml,%3Csvg id='radio_button_checked-blue-48dp' xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath id='Path_6199' data-name='Path 6199' d='M0,0H21V21H0Z' fill='none'/%3E%3Cpath id='Path_6200' data-name='Path 6200' d='M10.75,6.375a4.375,4.375,0,1,0,4.375,4.375A4.377,4.377,0,0,0,10.75,6.375ZM10.75,2a8.75,8.75,0,1,0,8.75,8.75A8.753,8.753,0,0,0,10.75,2Zm0,15.75a7,7,0,1,1,7-7A7,7,0,0,1,10.75,17.75Z' transform='translate(-0.25 -0.25)' fill='%231e22aa'/%3E%3C/svg%3E%0A";
$checkboxInputDataUri: "data:image/svg+xml,%3Csvg id='check_box_outline_blank-white-48dp' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path_6196' data-name='Path 6196' d='M0,0H24V24H0Z' fill='none'/%3E%3Cpath id='Path_6197' data-name='Path 6197' d='M19,5V19H5V5H19m0-2H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Z' fill='%231e22aa'/%3E%3C/svg%3E%0A";
$checkboxInputCheckedDataUri: "data:image/svg+xml,%3Csvg id='check_box-white-48dp' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path_6194' data-name='Path 6194' d='M0,0H24V24H0Z' fill='none'/%3E%3Cpath id='Path_6195' data-name='Path 6195' d='M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z' fill='%231e22aa'/%3E%3C/svg%3E%0A";