.top-left {
  position: absolute;
  top: 60px;
  left: 126px;
}
.centered {
  position: absolute;
  top: 35%;
  left: 335px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 65%;
  left: 17%;
  transform: translate(-50%, -50%);
  width: 82%;
  h2 {
    span {
      display: flex;
      margin-left: 150px;
    }
  }
}
.player {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
player {
  &:focus {
    .controls {
      opacity: 1;
    }
  }
}
video {
  width: 100%;
  height: 100%;
}
.modal-dialog {
  position: relative;
}
iframe {
  height: 721px;
  width: 100%;
}
.jm-video-modal-body {
  padding: 0;
}
.modal-header {
  background-color: #f2f2f2;
  color: #1e22aa;
  .close-modal-block {
    width: 5rem;
    opacity: 0.9;
  }
}
.jm-video-play-icon {
  width: 25px !important;
  height: auto !important;
}
.video-close-icon {
  color: #1e22aa;
  font-size: 18px;
  font-family: JMSansMedium;
}
.modal-footer {
  background-color: #1e22aa;
  > .controls {
    width: 100%;
    margin-right: 6%;
    margin-left: 6%;
  }
}
.controls {
  > .play-button {
    display: none;
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  > .pause-button {
    background-color: transparent;
  }
  > .stop-button {
    background-color: transparent;
  }
  > .youtube-button-alignment {
    float: right;
    border-radius: 0px;
    margin-right: 4px;
    border-color: transparent;
    background-color: transparent;
    border-color: 1px solid #ffffff;
  }
  .btn {
    border-radius: 0px;
    margin-right: 4px;
    border-color: 1px solid #ffffff;
    background-color: transparent;
    opacity: 0.9;
  }
  .btn-primary {
    border-radius: 0px;
    margin-right: 4px;
    color: #fff;
    border-color: #0062cc;
    background-color: transparent;
  }
}
.pause-button {
  float: left;
  border-radius: 0px;
  margin-right: 4px;
  background-color: transparent;
}
.stop-button {
  float: left;
  border-radius: 0px;
  margin-right: 4px;
  background-color: transparent;
}
.svg-property {
  background-color: #1e22aa;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.9;
}
.jm-video-modal-content {
  border: 0px;
}
.jm-video-button1 {
  display: none;
}
.jm-video-button4 {
  float: right;
}
.jm-video-image-container {
  padding: 2%;
  text-align: center;
  color: white;
  position: relative;
  img {
    width: 100%;
    height: 600px;
  }
}
.centered-with-text {
  position: absolute;
  top: 40%;
  left: 34%;
  transform: translate(-50%, -50%);
  width: 44%;
}
.jm-image-text-heading {
  color: white;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 0px 6px #000000;
  opacity: 1;
  font-family: JMSansRegular;
}
.jm-image-slogan-text {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 0px 6px #000000;
  opacity: 0.8;
  font-family: JMSansMedium;
}
.jm-info-btn {
  border-radius: 0%;
  background-color: #1e22aa;
  color: #ffffff;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  font-size: 16px;
  line-height: 20px;
  font-family: JMSansMedium;
}
@media (min-width: 576px) {
  .jm-video-modal-dialog {
    margin-left: 0.5rem;
  }
}
@media (max-width: 768px) {
  .modal-footer {
    > .controls {
      width: 100%;
      margin-right: 4%;
      margin-left: 4%;
    }
  }
  .jm-video-modal-dialog {
    width: 95%;
  }
  .jm-video-controls {
    display: flex;
    flex-wrap: wrap;
  }
  .jm-video-button1 {
    display: none;
  }
  .jm-video-button2 {
    order: 2;
    width: 50%;
  }
  .jm-video-button3 {
    order: 3;
    width: 50%;
  }
  .jm-video-button4 {
    order: 4;
    width: 100%;
    margin: 12px 0 4px;
  }
  .jm-video-btn-block {
    display: block;
    width: 100%;
  }
  .jm-video-image-container {
    padding: 0%;
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      object-position: bottom;
    }
  }
  .jm-info-btn {
    display: block;
    width: 100%;
    border-radius: 0%;
    background-color: #1e22aa;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    font-size: 16px;
    line-height: 20px;
    font-family: JMSansMedium;
  }
  .centered-with-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
  }
  .centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
  }
}
