.jmvideo--temp {
  .jm-image-text-heading {
    text-align: left;
    letter-spacing: 0px;
    text-shadow: 0px 0px 6px #000;
    opacity: 1;
    font-size: 36px;
    line-height: 40px;
    font-family: $jmMediumFont;
    color: $jmWhiteColor;
  }
  .jm-image-slogan-text {
    text-shadow: 0px 0px 6px #000;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-family: $jmFont;
    letter-spacing: 0;
    color: $jmWhiteColor;
    text-transform: capitalize;
    opacity: 0.84;
    margin: 0 0 5px;
  }
  .jm-info-btn {
    border-radius: 0%;
    background-color: $jmEgyptianBlueColor;
    color: $jmWhiteColor;
    letter-spacing: 0px;
    color: $jmWhiteColor;
    text-transform: uppercase;
    opacity: 1;
    font-size: 16px;
    line-height: 20px;
    font-family: $jmMediumFont;
  }
  .jm-video-image-container {
    padding: 0px !important;
    margin: -10px !important;
    text-align: center;
    color:$jmWhiteColor;
    position: relative;
    img {
      width: 100%;
      height: 600px;
    }
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: flex;
    position: relative;
    text-align: center;
    color:$jmWhiteColor;
    .modalbutton {
      position: absolute;
      top: 70%;
      left: 15%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color:$jmWhiteColor;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 0px;
      text-align: center;
      background-color: blue;
    }  
  }
  .centered-with-text {
    position: absolute;
    top: 120px;
    left: 100px;
    transform: translate(0%, 0%);
    width: 44%;
  }
  .top-left {
    position: absolute;
    top: 60px;
    left: 126px;
  }
  .jm-video-image-container {
    padding-left: 0;
    padding-right: 0;
  }
  .container-fluid .centered {
    position: absolute;
    top: 310px;
    left: 100px;
    transform: translate(0%, 0%);
    width: auto;
    h2 span {
      display: flex;
      margin-left: 150px;
    }
  }
  .player {
    &:hover {
      .controls {
        opacity: 1;
      }
    }
    &:focus {
      .controls {
        opacity: 1;
      }
    }
  }
  video {
    width: 100%;
    height: 100%;
  }
  .modal-dialog {
    position: relative;
  }
  iframe {
    height: 721px;
    width: 100%;
  }
  .jm-video-modal-body {
    padding: 0;
  }
  .modal-header {
    background-color: #f2f2f2;
    color: $jmEgyptianBlueColor;
    .close-modal-block {
      width: 5rem;
      opacity: 0.9;
    }
  }
  .jm-video-play-icon {
    width: 25px !important;
    height: auto !important;
  }
  .video-close-icon {
    color: $jmEgyptianBlueColor;
    font-size: 18px;
    font-family: $jmMediumFont;
  }
  .modal-footer {
    background-color: $jmEgyptianBlueColor;
  }
  .modal-footer > .controls {
    width: 100%;
    margin-right: 6%;
    margin-left: 6%;
  }
  .controls > .play-button {
    display: none;
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  .controls > .pause-button {
    background-color: transparent;
  }
  .controls > .stop-button {
    background-color: transparent;
  }
  .controls > .youtube-button-alignment {
    float: right;
    border-radius: 0px;
    margin-right: 4px;
    border-color: transparent;
    background-color: transparent;
    border-color: 1px solid $jmWhiteColor;
  }
  .controls .btn {
    border-radius: 0px;
    margin-right: 4px;
    border-color: 1px solid $jmWhiteColor;
    background-color: transparent;
    opacity: 0.9;
  }
  .controls .btn-primary {
    border-radius: 0px;
    margin-right: 4px;
    color: $jmWhiteColor;
    border-color: #0062cc;
    background-color: transparent;
  }
  .pause-button {
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  .stop-button {
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  .svg-property {
    background-color: $jmEgyptianBlueColor;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
  }
  .jm-video-modal-content {
    border: 0px;
  }
  .jm-video-button1 {
    display: none;
  }
  .jm-video-button4 {
    float: right;
  }
  @media (min-width: 576px) {
    .jm-video-modal-dialog {
      margin-left: 0.5rem;
    }
  }
  @media (max-width: 768px) {
    .modal-footer > .controls {
      width: 100%;
      margin-right: 4%;
      margin-left: 4%;
    }
    .jm-video-modal-dialog {
      width: 95%;
    }
    .jm-video-controls {
      display: flex;
      flex-wrap: wrap;
    }
    .jm-video-button1 {
      display: none;
    }
    .jm-video-button2 {
      order: 2;
      width: 50%;
    }
    .jm-video-button3 {
      order: 3;
      width: 50%;
    }
    .jm-video-button4 {
      order: 4;
      width: 100%;
      margin: 12px 0 4px;
    }
    .jm-video-btn-block {
      display: block;
      width: 100%;
    }
    .jm-video-image-container {
      padding: 0%;
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: bottom;
      }
    }
    .jm-info-btn {
      display: block;
      width: 100%;
      border-radius: 0%;
      background-color: $jmEgyptianBlueColor;
      color: $jmWhiteColor;
      text-transform: uppercase;
      opacity: 1;
      font-size: 16px;
      line-height: 20px;
      font-family: $jmMediumFont;
      border: none;
    }
    .centered-with-text {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 82%;
    }
    .centered {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 82%;
    }
  }

  .container-fluid.jmvideo--content {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
  }
}

.journal-content-article[data-analytics-asset-title="RefiningVideo Block"] {
  margin-bottom: 70px;
}
