.jmvideotempl {
  margin: 70px 0;
  position: relative;
  @media (max-width: 768px) {
    margin: 30px 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 768px) {
      min-height: 600px;
    }
  }
}
.jmvideotempl__content {
  @include generatePosAbs(0, 0);
  width: 100%;
  height: 100%;
  + .modal{
    z-index: 9999;
  }
  .jmvideo--play-icon {
    background-image: url("data:image/svg+xml,%3Csvg id='warning-white-48dp' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='Path_6426' data-name='Path 6426' d='M0,0H24V24H0Z' fill='none'/%3E%3Cpath id='Path_6427' data-name='Path 6427' d='M1,21H23L12,2,9.256,6.74Z' transform='translate(23.5 -0.5) rotate(90)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-top: 0px;
    float: right;
  }
  .jmvideotempl__slogan-text {
    text-align: left;
    text-shadow: $jmTextShadow2;
    @include generateFont($jmMediumFont, 46px, 50px, $jmWhiteColor);
    margin-bottom: 50px;
  }
  .jmvideotempl__heading {
    text-shadow: $jmTextShadow2;
    text-align: left;
    text-transform: capitalize;
    margin: 0 0 5px;
    @include generateFont($jmFont, 16px, 22px, $jmWhiteColor, 0.84);
    margin-bottom: 15px;
  }
  .jmvideotempl__info-btn {
    border-radius: 0%;
    background-color: $jmEgyptianBlueColor;
    text-transform: uppercase;
    @include generateFont($jmMediumFont, 16px, 20px, $jmWhiteColor);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 10px;
    min-width: 220px;
    text-align: right;
    border: none;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: flex;
    position: relative;
    text-align: center;
    color: $jmWhiteColor;
    width: 100%;
    height: 100%;
  }
  .jmvideotempl__innercont {
    @include generatePosAbs(10%, 50%);
    margin-top: -60px;
    text-align: left;
    width: 45%;
  }
  .player {
    &:hover {
      .controls {
        opacity: 1;
      }
    }
    &:focus {
      .controls {
        opacity: 1;
      }
    }
  }
  video {
    width: 100%;
    height: 100%;
  }
  .modal-dialog {
    position: relative;
  }
  iframe {
    height: 721px;
    width: 100%;
  }
  .jm-video-modal-body {
    padding: 0;
  }
  .modal-header {
    background-color: $jmAntiFlashWhiteColor;
    color: $jmEgyptianBlueColor;
    .close-modal-block {
      width: 5rem;
      opacity: 0.9;
    }
  }
  .jm-video-play-icon {
    width: 25px !important;
    height: auto !important;
  }
  .video-close-icon {
    @include generateFont($jmMediumFont, 18px, false, $jmEgyptianBlueColor);
  }
  .modal-footer {
    background-color: $jmEgyptianBlueColor;
  }
  .modal-footer > .controls {
    width: 100%;
    margin-right: 6%;
    margin-left: 6%;
  }
  .controls > .play-button {
    display: none;
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  .controls > .pause-button {
    background-color: transparent;
  }
  .controls > .stop-button {
    background-color: transparent;
  }
  .controls > .youtube-button-alignment {
    float: right;
    border-radius: 0px;
    margin-right: 4px;
    border-color: transparent;
    background-color: transparent;
    border-color: 1px solid $jmWhiteColor;
  }
  .controls .btn {
    border-radius: 0px;
    margin-right: 4px;
    border-color: 1px solid $jmWhiteColor;
    background-color: transparent;
    opacity: 0.9;
  }
  .controls .btn-primary {
    border-radius: 0px;
    margin-right: 4px;
    color: $jmWhiteColor;
    border-color: $jmNavyBlueColor;
    background-color: transparent;
  }
  .pause-button {
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  .stop-button {
    float: left;
    border-radius: 0px;
    margin-right: 4px;
    background-color: transparent;
  }
  .svg-property {
    background-color: $jmEgyptianBlueColor;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.9;
  }
  .jm-video-modal-content {
    border: 0px;
  }
  .jm-video-button1 {
    display: none;
  }
  .jm-video-button4 {
    float: right;
  }
  @media (min-width: 576px) {
    .jm-video-modal-dialog {
      margin-left: 0.5rem;
    }
  }
  @media (max-width: 768px) {
    width: calc(100% - 40px);
    left: 20px;
    .jmvideotempl__innercont{
      top: 70px;
      margin-top: 0;
    }
    .jmvideotempl__heading {
      @include generateFont($jmMediumFont, 18px, 28px, $jmWhiteColor, 0.8);
      margin-bottom: 10px;
    }
    .jmvideotempl__slogan-text{
      @include generateFont($jmFont, 32px, 40px, $jmWhiteColor);
      margin-bottom: 80px;
    }
    .modal-footer > .controls {
      width: 100%;
      margin-right: 4%;
      margin-left: 4%;
    }
    .jm-video-modal-dialog {
      width: 95%;
    }
    .jm-video-controls {
      display: flex;
      flex-wrap: wrap;
    }
    .jm-video-button1 {
      display: none;
    }
    .jm-video-button2 {
      order: 2;
      width: 50%;
    }
    .jm-video-button3 {
      order: 3;
      width: 50%;
    }
    .jm-video-button4 {
      order: 4;
      width: 100%;
      margin: 12px 0 4px;
    }
    .jm-video-btn-block {
      display: block;
      width: 100%;
    }
    .jm-info-btn {
      display: block;
      width: 100%;
      border-radius: 0%;
      background-color: $jmEgyptianBlueColor;
      text-transform: uppercase;
      border: none;
      @include generateFont($jmMediumFont, 16px, 20px, $jmWhiteColor);
    }
    .jmvideotempl__innercont {
      width: 100%;
    }
    .jmvideotempl__info-btn {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .jmvideotempl {
      img {
        height: 540px;
        object-fit: unset;
      }
      .jmvideotempl__innercont {
        @include generatePosAbs(10%, 50%);
      }
    }
  }
}
.container-fluid{
  .jmvideotempl__content .jmvideotempl__innercont{
    left: 0;
  }
}