.jmlist {
    .jmlist__links-heading{
        font: 40px/48px $jmMediumFont;
        color: $jmDarkCharcoalColor;
        padding-bottom: 30px;
    }
    .jmlist__item{
        font-size: 24px;
        font-family: $jmFont;
        color: $jmDarkCharcoalColor;
        padding: 22px 40px 22px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
        background-color: $jmAntiFlashWhiteColor; 
    }
    .jmlist__link{
        text-decoration: none;
        color: $jmEgyptianBlueColor;
        font: 18px/22px $jmMediumFont;
        display: flex;
        margin-left: 60px;
    }
    .jmlist__icon {
        background: url("../images/new__jm__images/blue-right-arrow.svg") 0 0 no-repeat transparent;
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        float:right;
        margin-top:2px
    }
    .jmlist__text {
        font-size: 18px;
        color: $jmEgyptianBlueColor;
        opacity: 1;
        float:left;
        font-family: $jmMediumFont;
    }
    @media (min-width: 320px) and (max-width: 539px) {
        .jmlist__item {
            font-size: 20px;
            font-family: $jmFont;
            color: $jmDarkCharcoalColor;
            padding: 15px 10px 15px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
        .jmlist__text {
            font-size: 15px;
            display: none;
        }
        .jmlist__icon {
            width: 20px;
            height: 20px;
            margin-left: 8px;
        }
        .jmlist__links--heading{
            font-size: 24px;
            color: $jmDarkCharcoalColor;
            font-family: $jmMediumFont;
            padding-bottom: 5px;
        }
    }
}