.jmproduct--hero-temp {
	.product_hero__para {
		font-size: 18px;
		line-height: 28px;
		font-family: $jmFont;
		p {
			margin-bottom: 1rem;
		}
	}
	.jmcol-for-alignment {
		padding-left: 15px;
		padding-right: 15px;
	}
}
table {
	td {
		border: 0.125rem solid $jmWhiteColor;
		padding: 0.5rem;
		background: #ccc;
	}
}
