$font-family_1: JMSansRegular;

.jmproduct--hero-temp {
	.product_hero__para {
		font-size: 18px;
		line-height: 28px;
		font-family: $font-family_1;
		p {
			margin-bottom: 1rem;
		}
	}
}
table {
	td {
		border: 0.125rem solid #fff;
		padding: 0.5rem;
		background: #ccc;
	}
}
