.jmimg--cardblock-link--icon {
    background: url("../images/new__jm__images/blue-right-arrow.svg ") 0 0 no-repeat transparent;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.col-md-4.\33 -jmimg-cardblock--col-img img{
height:190px;
float:right;
}

.col-md-6.\32 -jmimg-cardblock--col-img img{
height:158px;
float:right;
}

.jmimage-card-block--header{
 font-family: JMSansMedium;
padding: 20px 0px 30px 0px;
font-size: 34px;
letter-spacing: 0px;
color: #333333;
opacity: 1;
}
.jmimg__cardblock-body{
 flex: 1 1 auto;
min-height: 1px;
padding-bottom: 0.5rem;
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 1.25rem;
    
}
.jmimg-card_block{
 border-bottom: 15px solid #1E22AA;
 height:100%;
}
.jmimg--cardblock--title{
 text-align: left;
font-size: 14px;
letter-spacing: 0px;
color: #333333;
text-transform: capitalize;
opacity: 1;
font-family: JMSansRegular;
}
.row.jmimg-cardblock--no-gutters {
height: 100%;
}
.jmimg--cardblock--text{
     font-size: 25px;
line-height: 1.2em;
font-weight: 500;
font-family: JMSansRegular;
color: #333333;
padding-right: 0px;
padding-bottom:40px;
  width: 100%;
}

.jmimg--cardblock-list--ilnk {
text-decoration: none;
text-decoration-color: #1E22AA;
color: #1E22AA;
font: 17px/22px JMSansMedium;
display: flex;
margin-top: 0px;
bottom: 15px;
position: absolute;
&:hover {
    text-decoration: none;
    text-decoration-color: #1E22AA;
    color: #1E22AA;
    font: 17px/22px JMSansMedium;
    display: flex;
    margin-top: 0px;
}
}
.jmimg--cardblock-link--icon {
display: block;
width: 24px;
margin-top: 2px;
height: 24px;
margin-left: 8px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
.jmimg--cardblock--text {
font-size: 22px;
line-height: 1.2em;
font-weight: 500;
font-family: JMSansRegular;
color: #333333;
padding-right: 0px;
width: 100%;
padding-bottom: 30px;
}
.jmimg--cardblock--title {
text-align: left;
font-size: 13px;
letter-spacing: 0px;
color: #333333;
text-transform: capitalize;
opacity: 1;
font-family: JMSansRegular;
}
.jmimg--cardblock-list--ilnk {
text-decoration: none;
text-decoration-color: #1E22AA;
color: #1E22AA;
font: 16px/22px JMSansMedium;
display: flex;
margin-top: 0px;
bottom: 15px;
position: absolute;
}
.col-md-4.\33 {
-jmimg-cardblock--col-img {
    img {
        height: 170px;
        float: right;
    }
}
}
.col-md-6.\32 {
-jmimg-cardblock--col-img {
    img {
        height: 145px;
        float: right;
    }
}
}

}
@media (min-width: 768px) and (max-width: 991.98px) {
.jmimage-card-block--header {
font-family: JMSansMedium;
padding: 15px 0px 20px 0px;
font-size: 26px;
letter-spacing: 0px;
color: #333333;
opacity: 1;
}
.jmimg__cardblock-body {
flex: 1 1 auto;
min-height: 1px;
padding-bottom: 0.5rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
padding-top: 0.5rem;
}
.jmimg--cardblock--text {
font-size: 18px;
line-height: 1.2em;
font-weight: 500;
font-family: JMSansRegular;
color: #333333;
padding-right: 0px;
width: 100%;
}
.jmimg--cardblock--title {
text-align: left;
font-size: 12px;
letter-spacing: 0px;
color: #333333;
text-transform: capitalize;
opacity: 1;
font-family: JMSansRegular;
}
.jmimg--cardblock-list--ilnk {
text-decoration: none;
text-decoration-color: #1E22AA;
color: #1E22AA;
font: 14px/22px JMSansMedium;
display: flex;
margin-top: 0px;
bottom: 10px;
position: absolute;
}
.col-md-4.\33 {
-jmimg-cardblock--col-img {
    img {
        height: 140px;
        float: right;
    }
}
}
.col-md-6.\32 {
-jmimg-cardblock--col-img {
    img {
        height: 120px;
        float: right;
    }
}
}
.jmimg-card_block {
border-bottom: 10px solid #1E22AA;
}

}

@media (min-width: 576px) and (max-width: 767.98px) {
.jmimg--cardblock--text {
font-size: 25px;
line-height: 1.2em;
font-weight: 500;
font-family: JMSansRegular;
color: #333333;
padding-right: 0px;
width: 150%;
}
.jmimg-card_block {
border-bottom: 15px solid #1E22AA;
margin-bottom: 20px;
}
.col-md-4.\33 {
-jmimg-cardblock--col-img {
    img {
        height: 130px;
        float: right;
        width: 160px;
    }
}
}
.col-md-6.\32 {
-jmimg-cardblock--col-img {
    img {
        height: 125px;
        float: right;
        width: 155px;
    }
}
}

}

@media (max-width: 575.98px) {
.jmimg-card_block {
border-bottom: 8px solid #1E22AA;
margin-bottom: 10px;
}
.jmimg__cardblock-body {
flex: 1 1 auto;
min-height: 1px;
padding-bottom: 0.5rem;
padding-left: 0.7rem;
padding-right: 0rem;
padding-top: 0.7rem;
}
.jmimage-card-block--header {
font-family: JMSansMedium;
padding: 10px 0px 20px 0px;
font-size: 24px;
letter-spacing: 0px;
color: #333333;
}
.jmimg--cardblock--title {
text-align: left;
font-size: 12px;
letter-spacing: 0px;
color: #333333;
text-transform: capitalize;
opacity: 1;
font-family: JMSansRegular;
}
.jmimg--cardblock--text {
font-size: 20px;
line-height: 1.2em;
font-weight: 500;
font-family: JMSansRegular;
color: #333333;
padding-right: 0px;
padding-bottom: 0px;
width: 100%;
}
.jmimg--cardblock-link--text {
display: none;
}
.col-md-4.\33 {
-jmimg-cardblock--col-img {
    img {
        height: 100px;
        float: right;
        width: 90px;
    }
}
}
.col-md-6.\32 {
-jmimg-cardblock--col-img {
    img {
        height: 100px;
        float: right;
        width: 90px;
    }
}
}
.jmimg--cardblock-list--ilnk {
text-decoration: none;
text-decoration-color: #1E22AA;
color: #1E22AA;
font: 17px/22px JMSansMedium;
display: flex;
margin-top: 0px;
bottom: 15px;
float: right;
margin-top: -15px;
position: relative;
}

}



.jmimg--cardblock--longcol {
.jmimg--cardblock-img.rounded-0 {
    width: 100%;
}
}
.jmimg--cardblock--body {
flex: 1 1 auto;
min-height: 1px;
padding-bottom: 0.5rem;
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 1.25rem;
width: 100%;
}
.jmimg--main--cardblock {
border-bottom: 15px solid #1E22AA;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
.jmimg--cardblock--longcol {
.jmimg--cardblock-img.rounded-0 {
    height: 145px;
    width: 100%;
}
}

}
@media (min-width: 768px) and (max-width: 991.98px){
.jmimg--cardblock--longcol {
.jmimg--cardblock-img.rounded-0 {
    height: 120px;
    width: 100%;
}
}
.jmimg--cardblock--body {
flex: 1 1 auto;
min-height: 1px;
padding-bottom: 0.5rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
padding-top: 0.5rem;
width: 100%;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
.jmimg--cardblock--longcol {
.jmimg--cardblock-img.rounded-0 {
    height: 155px;
    float: right;
    width: 155px;
}
}

}
@media (max-width: 575.98px) {
.jmimg--cardblock--longcol {
.jmimg--cardblock-img.rounded-0 {
    height: 100px;
    float: right;
    width: 90px;
}
}
.jmimg--cardblock--body {
flex: 1 1 auto;
min-height: 1px;
padding-bottom: 0.5rem;
padding-left: 0.7rem;
padding-right: 0rem;
padding-top: 0.7rem;
width: 100%;
}
.jmimg-card_block {
height: auto;
}

}
